[run]
source = src/pssapi

[report]
omit = */log/*
exclude_also = 
    ; Don't complain about missing debug-only code:
    def __repr__
    def __str__
    if self\\.debug
    ; Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
    ; Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:
    ; Don't complain about abstract methods, they aren't run:
    @(abc\\.)?abstractmethod
    ; Don't complain about pass
    ^ *?pass *$

    ; Don't complain about single-line properties
    @property\n +?def \w+\(self\) -> [^:]+:\n +?return self\.\w+$
    ; Don't complain about calling the parent's class constructor
    super\(\).__init__\(\w+?\)

[xml]
output = cov.xml
