interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/BattleService/GetEngagement?clientDateTime=2026-01-25T12%3A26%3A13&engagementId=21
  response:
    body:
      string: "<BattleService><GetEngagement><Engagement EngagementId=\"21\" AttackingEngagementGroupId=\"41\"
        DefendingEngagementGroupId=\"42\" AttackingEngagementGroupName=\"Die Nasty\"
        DefendingEngagementGroupName=\"Defending Group\" OutcomeType=\"Attacker Won\"
        ScoringType=\"None\" RewardString=\"supply:6250\" AttackingPoints=\"1377057\"
        DefendingPoints=\"0\" EngagementType=\"Invasion\" StartDate=\"2026-01-20T05:46:24\"
        EndDate=\"2026-01-21T05:46:24\" StarSystemId=\"16\" AttackingAllianceId=\"44208\"
        DefendingAllianceId=\"0\"><AttackingEngagementGroup EngagementGroupId=\"41\"
        EngagementGroupName=\"Die Nasty\" RequiresApproval=\"false\" PowerLimit=\"250000\"
        UserLimit=\"0\" EngagementGroupIconSpriteId=\"654\" EngagementId=\"0\" UpdateDate=\"2026-01-20T05:46:24\"><EngagementGroupUsers><EngagementGroupUser
        EngagementGroupUserId=\"1122\" EngagementGroupId=\"41\" EngagementGroupUserName=\"Sir
        Albertus\" UserId=\"11497687\" ApprovalState=\"None\" EngagementGroupUserState=\"None\"
        Hp=\"5.76\" LivesUsed=\"0\" AttacksUsed=\"4\" ShipDesignId=\"349\" MaxAttacks=\"4\"
        MaxLives=\"4\" AttackedEngagementGroupUserIds=\"1109,1080,1080,1101\" Score=\"20501\"
        PowerScore=\"8465\" UserType=\"UserTypePaying\" UpdateDate=\"2026-01-20T05:47:58\"><User
      [...]
