interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/PublicService/GetShipRoomDetails?userId=4510693
  response:
    body:
      string: <GetShipRoomDetails><Ship ShipName="The worst." ShipLevel="12" OriginalRaceId="1"
        ShipDesignId="220" BrightnessValue="0.1" HueValue="0" SaturationValue="1"
        SkinItemDesignId="777" SkinOpacityValue="0.25" StickerString="1704@305.0131-709.156-3.398885|1704@322.4934-73.27997-5|1801@797.7574-527.7207-5"><User
        Id="4510693" Name="The worst." IconSpriteId="8230" AllianceName="Trek Academy"
        AllianceSpriteId="2320" Trophy="4804" LastAlertDate="2020-06-30T19:52:10"
        AllianceId="12758" AllianceMembership="FleetAdmiral" /><Rooms><Room CurrentSkinKey="608"
        RoomDesignId="702" Row="11" Column="32" ConstructionStartDate="" /><Room CurrentSkinKey="0"
        RoomDesignId="696" Row="26" Column="27" ConstructionStartDate="" /><Room CurrentSkinKey="0"
        RoomDesignId="680" Row="22" Column="37" ConstructionStartDate="" /><Room CurrentSkinKey="0"
        RoomDesignId="680" Row="25" Column="28" ConstructionStartDate="" /><Room CurrentSkinKey="0"
        RoomDesignId="680" Row="25" Column="29" ConstructionStartDate="" /><Roo[...]
