interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/ShipService/GetShipByUserId?accessToken=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx&clientDateTime=2023-07-09T11:44:03&userId=4510693
  response:
    body:
      string: <ShipService><GetShipByUserId><Ship ShipId="3644795" ShipDesignId="220"
        Hp="34" ShipStatus="Offline" StandardCharacterDraws="66" UniqueCharacterDraws="11"
        BrightnessValue="-0.1" SaturationValue="-1" HueValue="0.95" StickerString="1704@506.9771-661.7842-5|1704@728.327-238.5785-5|1704@805.0065-607.7841-3.504111"
        ShipLevel="12" PowerScore="1594" StarSystemId="24" FromStarSystemId="24" NextStarSystemId="24"
        OriginStarSystemId="6" OriginNextStarSystemId="7" Tags="" SkinOpacityValue="1"
        StarSystemArrivalDate="2023-07-08T11:37:12" UpdateDate="2023-07-08T19:48:51"
        StatusStartDate="2023-07-08T19:48:52" UpgradeStartDate="2022-07-05T11:06:32"
        UserId="4510693" OriginalRaceId="1" SkinItemDesignId="495" UpgradeShipDesignId="0"
        ImmunityDate="2023-07-08T19:48:27" ShipName="The worst." Shield="0" SalvageArgument="0"><Items><Item
        ItemId="76102220" ShipId="3644795" ItemDesignId="3" Quantity="1435834"   IsNew="false"
        /><Item ItemId="76102268" ShipId="3644795" ItemDesignId="2" Quantity="1402831"   IsNew="false"
        /><Item ItemId="76102269" ShipId="3644795" ItemDesignId="976" Quantity="0"   IsNew="false"
        /><Item ItemId="76102270" ShipId="3644795" ItemDesignId="979" Quantity="0"   IsNew="false"
        /><Item ItemId="76102271" ShipId="3644795" ItemDesignId="6" Quantity="0"   IsNew="false"
        /><Item ItemId="76102272" ShipId="3644795" ItemDesignId="977" Quantity="0"   IsNew="false"
        /><Item Ite[...]
