interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/AllianceService/ListUsers2?accessToken=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx&allianceId=21&skip=0&take=100
  response:
    body:
      string: "<AllianceService><ListUsers><Users><User Id=\"4175987\" Name=\"ER-1C\"
        FacebookToken=\"\" LastAlertDate=\"2023-06-19T21:23:07.9711387Z\" UserType=\"Backer\"
        GenderType=\"Unknown\" RaceType=\"Unknown\"  ProfileImageUrl=\"\" Trophy=\"4951\"
        GameCenterName=\"\" CompletedMissionDesigns=\"1,53,54,55,10,20,21,56,36,22,23,24,11,25,26,27,38,34,35,133,155,156,209,213,211,215,216,224,225,226,227,152,153,104,105,106,107,237,239,238,154,108,109,110,111,241,180,137,149,150,151,138,144,32,298,199,279,280,281,282,283,285,286,2[...]
