interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/AllianceService/ListCharactersGivenInAlliance?accessToken=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx&allianceId=21&skip=0&take=100
  response:
    body:
      string: "<AllianceService><ListCharactersGivenInAlliance><Characters><Character
        CharacterId=\"6910824\" ShipId=\"1128646\" CharacterDesignId=\"84\" CharacterName=\"Pudding\"
        Xp=\"74342\" Level=\"26\" OwnerShipId=\"1128646\" HpImprovement=\"1\" PilotImprovement=\"0\"
        RepairImprovement=\"1\" WeaponImprovement=\"0\" ScienceImprovement=\"0\" EngineImprovement=\"0\"
        AttackImprovement=\"0\" AbilityImprovement=\"1\" StaminaImprovement=\"3\"
        Fatigue=\"1\" ItemIds=\"\" Flags=\"0\" TrainingData=\"\" IsNew=\"false\" TrainingEndDate=\"2019-02-16T00:21:17\"
        TrainingDesignId=\"0\" OwnerUsername=\"MadKing48\" RoomId=\"0\" DeploymentDate=\"2023-06-19T08:51:22\"
        AvailableDate=\"1900-01-01T00:00:00\" Stamina=\"0\"><IsPrestiging>false</IsPrestiging><Items
        /><FrameToAttackOrRepair>0</FrameToAttackOrRepair></Character><Character CharacterId=\"23552699\"
        ShipId=\"3611539\" CharacterDesignId=\"191\" CharacterName=\"Robyna Hoots\"
        Xp=\"94870\" Level=\"28\" OwnerShipId=\"3611539\" HpImprovement=\"16\" PilotImprovement=\"0\"
        RepairImprovement=\"0\" WeaponImprovement=\"0\" ScienceImprovement=\"0\" EngineImprovement=\"0\"
        AttackImprovement=\"4\" AbilityImprovement=\"0\" StaminaImprovement=\"4\"
        Fatigue=\"24\" ItemIds=\"\" Flags=\"0\" TrainingData=\"\" IsNew=\"false\"
        TrainingEndDate=\"2019-10-25T00:06:07\" TrainingDesignId=\"0\" OwnerUsername=\"Kev1101\"
        RoomId=\"0\" DeploymentDate=\"2023-06-18T22:33:01\" AvailableDate=\"1900-01-01T00:00:00\"
        Stamina=\"0\"><IsPrestiging>false</IsPrestiging><Items /><FrameToAttackOrRepair>0</FrameToAttackOrRepair></Character><Character
        CharacterId=\"23701663\" ShipId=\"3611539\" CharacterDesignId=\"269\" CharacterName=\"\u57FA\u7763\u6559\"
        Xp=\"88059\" Level=\"27\" OwnerShipId=\"3611539\" HpImprovement=\"0\" PilotImprovement=\"0\"
        RepairImprovement=\"0\" WeaponImprovement=\"0\" ScienceImprovement=\"0\" EngineImprovement=\"0\"
        AttackImprovement=\"0\" AbilityImprovement=\"0\" StaminaImprovement=\"0\"
        Fatigue=\"0\" It[...]
