interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/AllianceService/SearchAlliances?accessToken=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx&name=Trek+&skip=0&take=100
  response:
    body:
      string: '<AllianceService><SearchAlliances><Alliances><Alliance AllianceId="21"
        AllianceName="Trek Wolfpack" MinTrophyRequired="2600" RequiresApproval="true"
        AllianceDescription="Wolfpack is a proud member of the Trek Federation. Welcome
        to the den, where we shape young wolves into battle-hardened veterans that
        roam the skies hunting for prey. This fleet is semi-competitive div B fleet
        that requires a minimum of 25 stars per tournament - activity is mandatory.
        Min trophies : 2600. Min hull lvl : 10. Activity on[...]
