interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/AllianceService/SearchAlliances?accessToken=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx&name=Trek+Wolfpack&skip=0&take=100
  response:
    body:
      string: '<AllianceService><SearchAlliances><Alliances><Alliance AllianceId="21"
        AllianceName="Trek Wolfpack" MinTrophyRequired="2600" RequiresApproval="true"
        AllianceDescription="Wolfpack is a proud member of the Trek Federation. Welcome
        to the den, where we shape young wolves into battle-hardened veterans that
        roam the skies hunting for prey. This fleet is semi-competitive div B fleet
        that requires a minimum of 25 stars per tournament - activity is mandatory.
        Min trophies : 2600. Min hull lvl : 10. Activity on discord mandatory : https://discord.gg/cBcB3ap.
        AWOOOOOO!!" AllianceCountryCode="" EnableWars="true" Credits="2500" Score="0"
        ChampionshipScore="50" Trophy="354880" Ranking="0" AllianceSpriteId="19349"
        ChannelId="120" NumberOfMembers="98" NumberOfApprovedMembers="0" AllianceShipUserId="2624870"
        ImmunityDate="2023-06-20T04:09:15" DivisionDesignId="0" /></Alliances></SearchAlliances></AllianceService>'
    headers:
      Content-Type:
      - application/xml
      Last-Modified:
      - Mon, 19 Jun 2023 21:23:08 GMT
    status:
      code: 200
      message: OK
    url: https://api.pixelstarships.com/AllianceService/SearchAlliances?accessToken=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx&name=Trek+Wolfpack&skip=0&take=100
version: 1
