interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/AllianceService/ListUsers2?allianceId=21&skip=0&take=100
  response:
    body:
      string: "<AllianceService><ListUsers><Alliance AllianceId=\"21\" AllianceName=\"Trek
        Wolfpack\" MinTrophyRequired=\"3500\" RequiresApproval=\"true\" AllianceDescription=\"Competitive
        Tournament Fleet. The Pack is Here to Win.%0a%0aRequirement to Enter: 350+
        Stars in Division C%0aRequirement to Stay in Fleet: 150 Stars in Division
        B%0a%0aCurrent Champions of Division B. %0a%0aDiscord is mandatory: https://discord.gg/psstrek\"
        AllianceCountryCode=\"\" EnableWars=\"true\" Credits=\"48\" Score=\"464\"
        ChampionshipScore=\"0\" MinScoreContribution=\"50\" Trophy=\"332917\" Ranking=\"13\"
        AllianceSpriteId=\"19349\" ChannelId=\"120\" NumberOfMembers=\"73\" NumberOfApprovedMembers=\"0\"
        AllianceShipUserId=\"2624870\" ImmunityDate=\"2026-01-25T19:05:47\" DivisionDesignId=\"2\"
        /><Users><User Id=\"6878381\" Name=\"ReActon\" LastAlertDate=\"2026-01-25T12:09:48.908916Z\"
        UserType=\"UserTypePaying\" GenderType=\"Unknown\" RaceType=\"Unknown\"  ProfileImageUrl=\"\"
        Trophy=\"4990\" GameCenterName=\"\" CompletedMissionDesigns=\"1,39,40,41,42,84,85,86,87,240,10,20,21,22,23,24,25,26,27,211,215,231,36,233,232,199,88,89,90,91,112,256,197,216,257,258,259,343,195,260,261,194,137,149,150,151,358,262,359,321,154,136,360,140,361,141,142,362,138,144,145,146,392,393,394,252,263,395,39[...]
