interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/AllianceService/ListCharactersGivenInAlliance?allianceId=21&skip=0&take=100
  response:
    body:
      string: "<AllianceService><ListCharactersGivenInAlliance><Characters><Character
        CharacterId=\"17954777\" ShipId=\"434241\" CharacterDesignId=\"77\" CharacterName=\"Roach\"
        Xp=\"209340\" Level=\"40\" OwnerShipId=\"434241\" HpImprovement=\"20\" PilotImprovement=\"0\"
        RepairImprovement=\"0\" WeaponImprovement=\"0\" ScienceImprovement=\"0\" EngineImprovement=\"0\"
        AttackImprovement=\"40\" AbilityImprovement=\"0\" StaminaImprovement=\"19\"
        Fatigue=\"0\" ItemIds=\"144051725,23769914\" Flags=\"1\" TrainingData=\"\"
        IsNew=\"false\" TrainingEndDate=\"2021-06-20T00:11:55\" TrainingDesignId=\"0\"
        OwnerUsername=\"Alien catcher\" RoomId=\"0\" DeploymentDate=\"2024-03-24T16:58:58\"
        AvailableDate=\"1900-01-01T00:00:00\" Stamina=\"0\"><IsPrestiging>false</IsPrestiging><Items><Item
        ItemId=\"144051725\" ShipId=\"434241\" ItemDesignId=\"641\" Quantity=\"1\"
        BonusEnhancementType=\"None\" BonusEnhancementValue=\"0\" IsNew=\"false\"
        SkinKey=\"0\" /><Item ItemId=\"23769914\" ShipId=\"434241\" ItemDesignId=\"134\"
        Quantity=\"3\" BonusEnhancementType=\"None\" BonusEnhancementValue=\"0\" IsNew=\"false\"
        SkinKey=\"0\" /></Items><FrameToAttackOrRepair>0</FrameToAttackOrRepair></Character><Character
        CharacterId=\"30502882\" ShipId=\"3049051\" CharacterDesignId=\"194\" CharacterName=\"Red
        Ninja\" Xp=\"196941\" Level=\"39\" OwnerShipId=\"3049051\" HpImprovement=\"0\"
        PilotImprovement=\"0\" RepairImprovement=\"0\" WeaponImprovement=\"0\" ScienceImprovement=\"0\"
        EngineImprovement=\"0\" AttackImprovement=\"0\" AbilityImprovement=\"0\" StaminaImprovement=\"0\"
        Fatigue=\"0\" ItemIds=\"\" Flags=\"0\" TrainingData=\"\" IsNew=\"false\" TrainingEndDate=\"\"
        TrainingDesignId=\"0\" OwnerUsername=\"Deloiz\" RoomId=\"0\" DeploymentDate=\"2024-03-24T17:06:02\"
        AvailableDate=\"1900-01-01T00:00:00\" Stamina=\"0\"><IsPrestiging>false</IsPrestiging><Items
        /><FrameToAttackOrRepair>0</FrameToAttackOrRepair></Character><Character CharacterId=\"41625416\"
        ShipId=\"434241\" CharacterDesignId=\"53\" CharacterName=\"Evil General\"
        Xp=\"104166\" Level=\"30\" OwnerShipId=\"434241\" HpImprovement=\"0\" PilotImprovement=\"0\"
        RepairImprovement=\"0\" WeaponImprovement=\"0\" ScienceImprovement=\"0\" EngineImprovement=\"0\"
        AttackImprovement=\"0\" AbilityImprovement=\"0\" StaminaImprovement=\"0\"
        Fatigue=\"0\" ItemIds=\"\" Flags=\"0\" TrainingData=\"\" IsNew=\"false\" TrainingEndDate=\"\"
   [...]
