interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/AllianceService/ListAlliancesByChampionshipScoreRanking?accessToken=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx&from=0&to=100
  response:
    body:
      string: "<AllianceService><ListUsersByChampionshipScoreRanking><Alliances><Alliance
        AllianceId=\"43776\" AllianceName=\"Summit\" MinTrophyRequired=\"5200\" RequiresApproval=\"true\"
        AllianceDescription=\"&lt;color=#FFFF00&gt;United in the pursuit of peace,
        we forge ahead, standing together as one. SUMMIT strives to become the greatest
        force in the universe.&lt;/color&gt;&lt;color=#000000&gt;&lt;size=20&gt;Welcome
        to join us!&lt;/size&gt;\r&lt;/color&gt;\r\n&lt;color=#FF3399&gt;\u8054\u5408\u4E3A\u548C\u5E73\u800C\u6218\uFF0C\u52C7\u5F80\u76F4\u524D\uFF0C\u9F50\u5FC3\u534F\u529B\u3002SUMMIT\uFF0C\u52AA\u529B\u6210\u4E3A\u5B87\u5B99\u4E2D\u6700\u4F1F\u5927\u7684\u529B\u91CF\uFF0C&lt;/color&gt;\r&lt;color=RED&gt;\u6B22\u8FCE\u52A0\u5165Q\u7FA4\uFF1A875968174\uFF08\u8FDB\u7FA4\u5520\u55D1\uFF09&lt;/color&gt;\r\n\"
        AllianceCountryCode=\"\" EnableWars=\"true\" Credits=\"38\" Score=\"0\" ChampionshipScore=\"470\"
        Trophy=\"533439\" Ranking=\"0\" AllianceSpriteId=\"19374\" ChannelId=\"48119\"
        NumberOfMembers=\"97\" NumberOfApprovedMembers=\"97\" AllianceShipUserId=\"8831629\"
        ImmunityDate=\"2023-06-20T08:59:24\" DivisionDesignId=\"0\" /><Alliance AllianceId=\"11946\"
        AllianceName=\"HYDRA\u9F8D\" MinTrophyRequired=\"4500\" RequiresApproval=\"true\"
        AllianceDescription=\"&lt;color=#FF0080&gt;Welcome to HYDRA\u9F8D Main Fleet!
        Join the Hydra Discord. To fight with us, HYDRA\u9F8DPrime is the pathway
        into HYDRA\u9F8D. &lt;/color&gt;&lt;size=20&gt;Hail HYDRA\u9F8D!&lt;/size&gt;
        &lt;color=red&gt; \u6B22\u8FCE\u6765\u5230PSS\u53F2\u4E0A\u6700\u4F20\u5947\u8230\u961F\u2014\u2014\u9F8D\uFF01\u516D\u5E74\u67[...]
