interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/AllianceService/ListUsers2?allianceId=21&skip=0&take=100
  response:
    body:
      string: "<AllianceService><ListUsers><Users><User Id=\"9974181\" Name=\"Tao
        Zen\" LastAlertDate=\"2024-03-24T17:17:05.198061Z\" UserType=\"Backer\" GenderType=\"Unknown\"
        RaceType=\"Unknown\"  ProfileImageUrl=\"\" Trophy=\"5138\" GameCenterName=\"\"
        CompletedMissionDesigns=\"1,39,40,41,42,84,85,86,87,240,195,197,36,231,232,233,88,89,90,91,112,256,10,20,21,22,23,24,25,26,27,211,215,216,257,258,259,260,261,262,222,136,140,141,142,154,223,252,217,218,219,138,144,263,145,146,200,264,265,137,149,150,151,358,363,364,365,359,36[...]
