interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/AllianceService/ListAlliancesByRanking?skip=0&take=100
  response:
    body:
      string: "<AllianceService><ListAlliancesByRanking><Alliances><Alliance AllianceId=\"43776\"
        AllianceName=\"Summit\" MinTrophyRequired=\"4400\" RequiresApproval=\"true\"
        AllianceDescription=\"&lt;color=#FFFF00&gt;United in the pursuit of peace,
        we forge ahead, standing together as one. SUMMIT strives to become the greatest
        force in the universe.&lt;/color&gt;A;&lt;color=#67ffd0&gt;&lt;size=20&gt;Welcome
        to join us!&lt;/size&gt;&lt;/color&gt;Discord link: https://discord.gg/7ZBzHChTQC&lt;color=#FF3399&gt;
        \  \u8054\u540[...]
