interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/AllianceService/SearchAlliances?name=Trek+&skip=0&take=100
  response:
    body:
      string: '<AllianceService><SearchAlliances><Alliances><Alliance AllianceId="21"
        AllianceName="Trek Wolfpack" MinTrophyRequired="3200" RequiresApproval="true"
        AllianceDescription="Welcome to Wolfpack! We are a proud member of the Trek
        Federation. Come into the den, where we shape young wolves into battle-hardened
        veterans that roam the skies hunting for prey. This fleet is a competitive
        fleet in div. B, that requires a minimum of 50 stars per tournament - activity
        is mandatory. Minimum hull level: 9. Activity on[...]
