interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/GalaxyService/ListStarSystemLinks
  response:
    body:
      string: <GalaxyService><ListStarSystemLinks version="332"><StarSystemLinks><StarSystemLink
        StarSystemLinkId="1" FromStarSystemId="2" ToStarSystemId="3" IsTwoWay="true"
        TravelTime="30" /><StarSystemLink StarSystemLinkId="2" FromStarSystemId="4"
        ToStarSystemId="2" IsTwoWay="true" TravelTime="50" /><StarSystemLink StarSystemLinkId="3"
        FromStarSystemId="3" ToStarSystemId="4" IsTwoWay="true" TravelTime="30" /><StarSystemLink
        StarSystemLinkId="4" FromStarSystemId="3" ToStarSystemId="53" IsTwoWay="true"
        TravelTime="300" /><StarSystemLink StarSystemLinkId="5" FromStarSystemId="6"
        ToStarSystemId="8" IsTwoWay="true" TravelTime="30" /><StarSystemLink StarSystemLink[...]
