interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/SettingService/GetLatestVersion3?deviceType=DeviceTypeAndroid&languageKey=en
  response:
    body:
      string: <SettingService><GetLatestSetting><Setting SettingId="1" ServerSettingVersion="1950636"
        MinimumClientVersion="0.996.1" MaintenanceMessage="" AllianceBadgeSpriteIds="2261,2262,2263,2264,2265,2266,2267,2268,2269,2270,2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281,2282,2283,2284,2285,2286,2287,2288,2289,2290,2291,2293,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2306,2307,2308,2309,2310,2311,2312,2313,2314,2315,2316,2317,2318,2319,2320,2321,2322,653,654,655,2771,19343,19344,19345,19346,19347,19348,19349,19350,[...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/GalaxyService/ListMarkerGeneratorDesigns?languageKey=en
  response:
    body:
      string: <GalaxyService><ListMarkerGeneratorDesigns version="336"><StarSystemMarkerGenerators><StarSystemMarkerGenerator
        StarSystemMarkerGeneratorId="1" Name="TEST NPC Ship" ShipIds="" MarkerFlags="10"
        GenerationFlags="0" BehaviorFlags="0" CostString="" RewardString="" RequirementString=""
        GenerationInterval="3600" NumberOfMarkers="1" MaxActiveMarkers="1" MarkerDesignId="1"
        TravelTimeMultiplier="300" MarkerDuration="36000" Metadata="" TravelDuration="300"
        TravelCoolDownTime="0" Title="NPC Ship" CompletionOriginalValue="100" MarkerRequirementString=""
        Tags="" CostType="None" Description="" ShipTags="" Slots="" NumberOfShips="0"
        MarkerType="NPCShip" MovementType="TwoWay" TravelStartDate="2021-06-06T00:00:00"
        StartDate="2021-06-06T00:00:00" EndDate="2021-08-06T00:00:00" StarSystemId="24"
        FromStarSystemId="39" NextStarSystemId="27" OriginStarSystemId="39" OriginNextStarSystemId="27"
        SpriteId="18117" CompletionValueType="Hp" /><StarSystemMarkerGenerator StarSystemMarkerGeneratorId="2"
        Name="TEST Merchant Ship" ShipIds="" MarkerFlags="10" GenerationFlags="0"
        BehaviorFlags="0" CostString="" RewardString="" RequirementString="" GenerationInterval="3600"
        NumberOfMarkers="1" MaxActiveMarkers="1" MarkerDesignId="2" TravelTimeMultiplier="100"
        MarkerDuration="36000" Metadata="{&quot;BackgroundSpriteId&quot;:&quot;18125&quot;,
        &quot;TitleImageSpriteId&quot;:&quot;18127&quot;, &quot;NPCSpriteId&quot;:&quot;18126&qu[...]
