interactions:
- request:
    body: '{"AccessToken": "00000000-0000-0000-0000-000000000000", "AdvertisingKey":
      "00000000-0000-0000-0000-000000000000", "Checksum": "72364e6784a4b4e0b6713249d8c6f7b9",
      "ClientDateTime": "2023-08-05T17:55:58", "DeviceKey": "e6a3815568cd", "DeviceType":
      "DeviceTypeAndroid", "IsJailBroken": "false", "LanguageKey": "en", "Signal":
      "false", "UserDeviceInfo": {"ClientBuild": "", "DeviceName": "", "Locale": "",
      "OSBuild": "", "OsVersion": ""}}'
    headers: {}
    method: POST
    uri: https://api.pixelstarships.com/UserService/DeviceLogin15?AccessToken=00000000-0000-0000-0000-000000000000&AdvertisingKey=00000000-0000-0000-0000-000000000000&Checksum=72364e6784a4b4e0b6713249d8c6f7b9&ClientBuild=&ClientDateTime=2023-08-05T17:55:58&DeviceKey=e6a3815568cd&DeviceName=&DeviceType=DeviceTypeAndroid&IsJailBroken=false&LanguageKey=en&Locale=&OSBuild=&OsVersion=&Signal=false
  response:
    body:
      string: <UserService><UserLogin accessToken="38233bb9-79b1-4bcc-af93-65bcaa32f9a1"
        PreviousLastLoginDate ="2023-08-05T12:31:08" UserId="10514214"><User Id="10514214"
        LastAlertDate="2023-07-29T12:52:16.867" UserType="Unverified" GenderType="Unknown"
        RaceType="Unknown" Credits="100" ProfileImageUrl="" Trophy="1000" GameCenterName=""
        CompletedMissionDesigns="" LanguageKey="en" TutorialStatus="0" IconSpriteId="653"
        TipStatus="0" AllianceMembership="None" CrewDonated="0" CrewReceived="0" FreeStarbuxReceivedToday="0"
        DailyRewardStatus="0" HeroBonusChance="0" GameCenterFriendCount="0" CompletedMissionEventIds=""[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/GalaxyService/ListStarSystemMarkers?accessToken=38233bb9-79b1-4bcc-af93-65bcaa32f9a1&clientDateTime=2023-08-05T17:55:58
  response:
    body:
      string: <GalaxyService><ListStarSystemMarkers><StarSystemMarkers><StarSystemMarker
        StarSystemMarkerId="36114733" StarSystemId="34" FromStarSystemId="39" NextStarSystemId="27"
        OriginStarSystemId="39" OriginNextStarSystemId="27" MarkerFlags="73" MarkerType="MerchantShip"
        CostString="item:778x103|item:741x12|item:778x100|item:778x250|item:778x333|item:744x4"
        RewardString="item:461|item:153|item:1241|item:462|item:1247|item:1253" IsCollected="false"
        IsRepeatable="false" Title="Gray Bazaar" TravelTimeMultiplier="300" PurchaseFlags="0"
        Metadata="{&quot;BackgroundSpriteId&quot;:&quot;18215&quot;, &quot;TitleImageSpriteId&quot;:&quot;18216&quot;}"
        ShipIds="" MovementType="Wander" TravelCoolDownTime="0" CompletionOriginalValue="0"
        CompletionValueType="None" CompletionRemainingValue="0" RequirementString=""
        CostType="None" Description="A strange craft rarely seen in this sector, boasting
        rarely seen deals at rarely seen prices. Be quick! Stock is updated regularly
        across its voyage." StarSystemArrivalDate="2023-08-05T17:59:45" ExpiryDate="2023-08-05T23:59:55"
        UserId="0" MissionDesignId="0" CompletionDate="2000-01-01T00:00:00" SpriteId="18214"
        MissionEventId="0" MarkerDesignId="11" ShipId="0" TravelStartDate="2023-08-05T17:37:15"
        LastUpdateDate="2023-08-05T17:37:16" StarSystemMarkerGeneratorId="11" /></StarSystemMarkers></ListStarSystemMarkers></GalaxyService>
    headers:
      Content-Type:
      - application/xml
    status:
      code: 200
      message: OK
    url: https://api.pixelstarships.com/GalaxyService/ListStarSystemMarkers?accessToken=38233bb9-79b1-4bcc-af93-65bcaa32f9a1&clientDateTime=2023-08-05T17:55:58
version: 1
