interactions:
- request:
    body: null
    headers: {}
    method: POST
    uri: https://api.pixelstarships.com/GalaxyService/GoTo?accessToken=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx&checksum=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&clientDateTime=2023-06-22T09:49:35&starSystemId=53
  response:
    body:
      string: <GalaxyService>
        <GoTo>
        <Ship ShipId="6546989" ShipDesignId="14" Hp="13" ShipStatus="Offline" StandardCharacterDraws="43" UniqueCharacterDraws="2" BrightnessValue="0" SaturationValue="0" HueValue="0" StickerString="1207@579.5533-84.09286-5" ShipLevel="5" PowerScore="626" StarSystemId="53" FromStarSystemId="18" NextStarSystemId="53" OriginStarSystemId="18" OriginNextStarSystemId="53" Tags="" SkinOpacityValue="0.375" StarSystemArrivalDate="2023-06-22T09:52:35" UpdateDate="2023-06-22T09:47:50" StatusStartDate="2023-06-22T09:47:52" UpgradeStartDate="2021-09-23T16:05:47" UserId="8729280" OriginalRaceId="3" SkinItemDesignId="0" UpgradeShipDesignId="0" ImmunityDate="2023-06-22T09:49:27" ShipName="Dolores 2.0" Shield="0" SalvageArgument="0">
        <Items>
        <Item ItemId="168283600" ShipId="6546989" ItemDesignId="3" Quantity="1150"   IsNew="false" />
        <Item ItemId="168283601" ShipId="6546989" ItemDesignId="2" Quantity="41928"   IsNew="false" />
        <Item ItemId="168283602" ShipId="6546989" ItemDesignId="18" Quantity="0"   IsNew="false" />
        <Item ItemId="168283603" ShipId="6546989" ItemDesignId="5" Quantity="0"   IsNew="false" />
        <Item ItemId="168283604" ShipId="6546989" ItemDesignId="6" Quantity="0"   IsNew="false" />
        <It[...]
