interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/SettingService/GetLatestVersion3?deviceType=DeviceTypeAndroid&languageKey=en
  response:
    body:
      string: <SettingService><GetLatestSetting><Setting SettingId="1" ServerSettingVersion="2330010"
        MinimumClientVersion="0.998.7" MaintenanceMessage="" AllianceBadgeSpriteIds="2261,2262,2263,2264,2265,2266,2267,2268,2269,2270,2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281,2282,2283,2284,2285,2286,2287,2288,2289,2290,2291,2293,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2306,2307,2308,2309,2310,2311,2312,2313,2314,2315,2316,2317,2318,2319,2320,2321,2322,653,654,655,2771,19343,19344,19345,19346,19347,19348,19349,19350,[...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/GalaxyService/ListStarSystems?clientDateTime=2024-03-21T07%3A19%3A25&languageKey=en
  response:
    body:
      string: "<GalaxyService><ListStarSystems version=\"358\"><StarSystems><StarSystem
        StarSystemId=\"1\" StarSystemTitle=\"Nullspace void\" StarSystemDescription=\"[sounds
        of soda being poured into a tub of gravel]\" IconSpriteId=\"12024\" X=\"-100\"
        Y=\"100\" Z=\"0\" RequirementString=\"shipLevel &gt; 5\" ExplorationDuration=\"3600\"
        RequirementDescription=\"\" /><StarSystem StarSystemId=\"2\" StarSystemTitle=\"Arcturus\"
        StarSystemDescription=\"Founded at the height of the first Human Expansion
        era, the settlement at Arcturus was amongst the first to declare independence
        from the Federation.\" IconSpriteId=\"12035\" X=\"-19\" Y=\"-93\" Z=\"0\"
        RequirementString=\"shipLevel &gt;= 6 || originalRaceId == 1\" ExplorationDuration=\"60\"
        RequirementDescription=\"\" /><StarSystem StarSystemId=\"3\" StarSystemTitle=\"Spica\"
        [...]
