interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/GalaxyService/ListStarSystemMarkersAndUserMarkers?accessToken=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
  response:
    body:
      string: <GalaxyService><ListStarSystemMarkersAndUserMarkers><StarSystemMarkers><StarSystemMarker
        StarSystemMarkerId="32848700" StarSystemId="18" FromStarSystemId="34" NextStarSystemId="41"
        OriginStarSystemId="34" OriginNextStarSystemId="41" MarkerFlags="73" MarkerType="MerchantShip"
        CostString="item:778x93|item:778x66|item:742x42|item:742x30|item:743x18|item:778x666"
        RewardString="item:738|item:1242|item:107|item:389|item:1294|item:808" IsCollected="false"
        IsRepeatable="false" Title="Visiri Emissary" TravelTimeMultiplier="300" PurchaseFlags="0"
        Metadata="{&quot;BackgroundSpriteId&quot;:&quot;18217&quot;, &quot;TitleImageSpriteId&quot;:&quot;18219&quot;}"
        ShipIds="" MovementType="Wander" TravelCoolDownTime="0" CompletionOriginalValue="0"
        CompletionValueType="None" CompletionRemainingValue="0" RequirementString=""
        CostType="None" Description="A representative from the Visiri Expansionary
        Trade Guild. Be quick! Stock is updated regularly across its voyage." StarSystemArrivalDate="2023-06-22T08:48:45"
        ExpiryDate="2023-06-22T11:59:55" UserId="0" MissionDesignId="0" CompletionDate="2000-01-01T00:00:00"
        SpriteId="18218" MissionEventId="0" MarkerDesignId="10" ShipId="0" TravelStartDate="2023-06-22T08:26:15"
        LastUpdateDate="2023-06-22T08:26:16" StarSystemMarkerGeneratorId="10" /></StarSystemMarkers><UserMarkers><UserMarker
        UserMarkerId="9249199" UserId="9183041" StarSystemMarkerId="32848700" PurchaseFlags="0"
        MarkerProgressValue="0" IsCollected="false" LastUpdateDate="2023-06-22T08:44:30"
        /></UserMarkers></ListStarSystemMarkersAndUserMarkers></GalaxyService>
    headers:
      Content-Type:
      - application/xml
    status:
      code: 200
      message: OK
    url: https://api.pixelstarships.com/GalaxyService/ListStarSystemMarkersAndUserMarkers?accessToken=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
version: 1
