interactions:
- request:
    body: '{"AccessToken": "00000000-0000-0000-0000-000000000000", "AdvertisingKey":
      "00000000-0000-0000-0000-000000000000", "Checksum": "b6ad523f6f08c5a3b1cba9462e6a9d13",
      "ClientDateTime": "2026-07-12T14:11:10", "DeviceKey": "99d2b3a5-75ff-469f-8dad-c57d558f4e8f",
      "DeviceType": "DeviceTypeAndroid", "IsJailBroken": "false", "LanguageKey": "en",
      "RefreshToken": "str", "Signal": "false", "UserDeviceInfo": {"ClientBuild":
      "int", "ClientVersion": "str", "DeviceName": "str", "Locale": "str", "OSBuild":
      "int", "OsVersion": "str"}}'
    headers: {}
    method: POST
    uri: https://api.pixelstarships.com/UserService/DeviceLogin17?AccessToken=00000000-0000-0000-0000-000000000000&AdvertisingKey=00000000-0000-0000-0000-000000000000&Checksum=b6ad523f6f08c5a3b1cba9462e6a9d13&ClientDateTime=2026-07-12T14%3A11%3A10&DeviceKey=99d2b3a5-75ff-469f-8dad-c57d558f4e8f&DeviceType=DeviceTypeAndroid&IsJailBroken=false&LanguageKey=en&Signal=false
  response:
    body:
      string: <UserService><UserLogin RewardString="" accessToken="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        PreviousLastLoginDate ="2026-07-12T13:47:17" UserId="11093261"><User Id="11093261"
        LastAlertDate="2024-04-01T11:30:39.183" UserType="Unverified" GenderType="Unknown"
        RaceType="Unknown" Credits="100" ProfileImageUrl="" Trophy="1000" GameCenterName=""
        CompletedMissionDesigns="" LanguageKey="en" TutorialStatus="0" IconSpriteId="653"
        TipStatus="0" AllianceMembership="None" CrewDonated="0" CrewReceived="0" FreeStarbuxReceivedToday="0"
        DailyRewardStatus="0" HeroBonusChance="0" GameCenterFriendCount="0" CompletedMissionEventIds=""[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/GalaxyService/ListStarSystemMarkers?clientDateTime=2026-07-12T14%3A11%3A10
  response:
    body:
      string: <GalaxyService><ListStarSystemMarkers><StarSystemMarkers><StarSystemMarker
        StarSystemMarkerId="94413025" StarSystemId="14" FromStarSystemId="29" NextStarSystemId="21"
        OriginStarSystemId="29" OriginNextStarSystemId="21" MarkerFlags="73" MarkerType="MerchantShip"
        CostString="item:741x10|item:741x25|item:742x30|item:742x25|item:778x466|item:778x1166|item:778x666"
        RewardString="item:396|item:439|item:1178|item:269|item:1248|item:378|item:819"
        IsCollected="false" IsRepeatable="false" Title="Gray Bazaar" TravelTimeMultiplier="300"
        PurchaseFlags="0" Metadata="{&quot;BackgroundSpriteId&quot;:&quot;18215&quot;,
        &quot;TitleImageSpriteId&quot;:&quot;18216&quot;}" ShipIds="" MovementType="Wander"
        TravelCoolDownTime="0" CompletionOriginalValue="0" CompletionValueType="None"
        CompletionRemainingValue="0" RequirementString="" CostType="None" Description="A
        strange craft rarely seen in this sector, boasting rarely seen deals at rarely
        seen prices. Be quick! Stock is updated regularly across its voyage." EngagementId="0"
        StarSystemArrivalDate="2026-07-12T14:15:00" ExpiryDate="2026-07-12T23:59:55"
        UserId="0" MissionDesignId="0" CompletionDate="2000-01-01T00:00:00" SpriteId="18214"
        MissionEventId="0" MarkerDesignId="11" ShipId="0" TravelStartDate="2026-07-12T13:52:15"
        LastUpdateDate="2026-07-12T12:01:28" StarSystemMarkerGeneratorId="11" /></StarSystemMarkers></ListStarSystemMarkers></GalaxyService>
    headers:
      Content-Type:
      - application/xml
    status:
      code: 200
      message: OK
version: 1
