interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/GalaxyService/ListStarSystems?clientDateTime=2024-03-24T17%3A17%3A02&languageKey=en
  response:
    body:
      string: "<GalaxyService><ListStarSystems version=\"358\"><StarSystems><StarSystem
        StarSystemId=\"1\" StarSystemTitle=\"Nullspace void\" StarSystemDescription=\"[sounds
        of soda being poured into a tub of gravel]\" IconSpriteId=\"12024\" X=\"-100\"
        Y=\"100\" Z=\"0\" RequirementString=\"shipLevel &gt; 5\" ExplorationDuration=\"3600\"
        RequirementDescription=\"\" /><StarSystem StarSystemId=\"2\" StarSystemTitle=\"Arcturus\"
        StarSystemDescription=\"Founded at the height of the first Human Expansion
        era, the settlement at Arcturus was amongst the first to declare independence
        from the Federation.\" IconSpriteId=\"12035\" X=\"-19\" Y=\"-93\" Z=\"0\"
        RequirementString=\"shipLevel &gt;= 6 || originalRaceId == 1\" ExplorationDuration=\"60\"
        RequirementDescription=\"\" /><StarSystem StarSystemId=\"3\" StarSystemTitle=\"Spica\"
        [...]
