interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/GalaxyService/ListMarkerGeneratorDesigns?clientDateTime=2024-03-24T17%3A17%3A02&languageKey=en
  response:
    body:
      string: <GalaxyService><ListMarkerGeneratorDesigns version="50"><StarSystemMarkerGenerators><StarSystemMarkerGenerator
        StarSystemMarkerGeneratorId="1" Name="TEST NPC Ship" ShipIds="" MarkerFlags="10"
        GenerationFlags="0" BehaviorFlags="0" CostString="" RewardString="" RequirementString=""
        GenerationInterval="3600" NumberOfMarkers="1" MaxActiveMarkers="1" MarkerDesignId="1"
        TravelTimeMultiplier="300" MarkerDuration="36000" Metadata="" TravelDuration="300"
        TravelCoolDownTime="0" Title="NPC Ship" CompletionOriginalValue="100" MarkerRequirementString=""
        Tags="" CostType="None" Description="" ShipTags="" Slots="" NumberOfShips="0"
        MarkerType="NPCShip" MovementType="TwoWay" TravelStartDate="2021-06-06T00:00:00"
        StartDate="2021-06-06T00:00:00" EndDate="2021-08-06T00:00:00" StarSystemId="24"
        FromStarSystemId="39" NextStarSystemId="27" OriginStarSystemId="39" OriginNextStarSystemId="27"
        SpriteId="18117" CompletionValueType="Hp" /><StarSystemMarkerGenerator StarSystemMarkerGeneratorId="2"
        Name="TEST Merchant Ship" ShipIds="" MarkerFlags="10" GenerationFlags="0"
        BehaviorFlags="0" CostString="" RewardString="" RequirementString="" GenerationInterval="3600"
        NumberOfMarkers="1" MaxActiveMarkers="1" MarkerDesignId="2" TravelTimeMultiplier="100"
        MarkerDuration="36000" Metadata="{&quot;BackgroundSpriteId&quot;:&quot;18125&quot;,
        &quot;TitleImageSpriteId&quot;:&quot;18127&quot;, &quot;NPCSpriteId&quot;:&quot;18126&qu[...]
