interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/LadderService/ListUsersByChampionshipScoreRanking?accessToken=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx&from=1&to=100
  response:
    body:
      string: "<LadderService><ListUsersByChampionshipScoreRanking><Users><User Id=\"8899272\"
        Name=\"\u7D05\u693F\" LastAlertDate=\"2023-07-02T16:13:06.9842912Z\" Email=\"\"
        UserType=\"Unverified\" GenderType=\"Unknown\" RaceType=\"Unknown\"  ProfileImageUrl=\"\"
        Trophy=\"4881\" GameCenterName=\"\" CompletedMissionDesigns=\"\" LanguageKey=\"\"
        TutorialStatus=\"0\" IconSpriteId=\"5059\" TipStatus=\"0\" AllianceMembership=\"None\"
        CrewDonated=\"0\" CrewReceived=\"0\" FreeStarbuxReceivedToday=\"0\" DailyRewardStatus=\"0\"
        HeroBo[...]
