interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/LadderService/ListUsersByRanking?accessToken=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx&from=1&to=100
  response:
    body:
      string: "<LadderService><ListUsersByRanking><Users><User Id=\"9343218\" Name=\"V
        Anonymous V\" LastAlertDate=\"2023-07-02T16:14:55.3310522Z\" Email=\"\" UserType=\"Unverified\"
        GenderType=\"Unknown\" RaceType=\"Unknown\"  ProfileImageUrl=\"\" Trophy=\"5391\"
        GameCenterName=\"\" CompletedMissionDesigns=\"\" LanguageKey=\"\" TutorialStatus=\"0\"
        IconSpriteId=\"10391\" TipStatus=\"0\" AllianceMembership=\"None\" CrewDonated=\"0\"
        CrewReceived=\"0\" FreeStarbuxReceivedToday=\"0\" DailyRewardStatus=\"0\"
        Hero[...]
