interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/SettingService/GetLatestVersion3?deviceType=DeviceTypeAndroid&languageKey=en
  response:
    body:
      string: <SettingService><GetLatestSetting><Setting SettingId="1" ServerSettingVersion="2025374"
        MinimumClientVersion="0.997.1" MaintenanceMessage="" AllianceBadgeSpriteIds="2261,2262,2263,2264,2265,2266,2267,2268,2269,2270,2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281,2282,2283,2284,2285,2286,2287,2288,2289,2290,2291,2293,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2306,2307,2308,2309,2310,2311,2312,2313,2314,2315,2316,2317,2318,2319,2320,2321,2322,653,654,655,2771,19343,19344,19345,19346,19347,19348,19349,19350,[...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/RoomService/ListMissileDesigns
  response:
    body:
      string: <RoomService><ListMissileDesigns version="540"><MissileDesigns><MissileDesign
        MissileDesignId="1" MissileDesignName="Mining Beam" SystemDamage="1" HullDamage="0"
        StunLength="0" EMPLength="0" CharacterDamage="1" FireLength="0" BreachChance="0"
        MissileType="Laser" LogoSpriteId="454" SpriteId="454" FlightType="Immediate"
        ExplosionType="Single" ExplosionRadius="0" Speed="0" Volley="1" VolleyDelay="0"
        HullPercentageDamage="0" FlightArgumentX="0" FlightArgumentY="0" DirectSystemDamage="0"
        ShieldDamage="0.5" Metadata="" MaskLaunchAnimationId="0" MaskHitAnimationId="0"
        MaskAnimationId="0" AnimationId="0" LaunchAnimationId="0" LaunchSoundFileId="5757"
        HitAnimationId="0" HitSoundFileId="4183" /><MissileDesign MissileDesignId="2"
        MissileDesignName="Rocket" SystemDamage="1" HullDamage="0" StunLength="0"
        EMPLength="0" CharacterDamage="1" FireLength="0" BreachChance="0" MissileType="Rocket"
        LogoSpriteId="1557" SpriteId="1557" FlightType="Linear" ExplosionType="Single"
        ExplosionRadius="0" Speed="15" Volley="1" VolleyDelay="0" HullPercentageDamage="0"
        FlightArgumentX="0" FlightArgumentY="0" DirectSystemDamage="0" ShieldDamage="0"
        Metadata="" MaskLaunchAnimati[...]
