interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/RoomService/ListCraftDesigns
  response:
    body:
      string: <RoomService><ListCraftDesigns version="466"><CraftDesigns><CraftDesign
        CraftDesignId="1" CraftName="Interceptor" FlightSpeed="7" Reload="60" SpriteId="2337"
        MissileDesignId="47" Volley="1" VolleyDelay="0" Hp="3" CraftAttackType="Default"
        CraftTargetType="Single" AttackDistance="100" /><CraftDesign CraftDesignId="2"
        CraftName="Defender" FlightSpeed="4" Reload="240" SpriteId="2157" MissileDesignId="48"
        Volley="1" VolleyDelay="0" Hp="8" CraftAttackType="Default" CraftTargetType="Single"
        AttackDistance="0" /><CraftDesign CraftDesignId="3" CraftName="Interceptor
        Lv2" FlightSpeed="7" Reload="55" SpriteId="2402" MissileDesignId="47" Volley="1"
        VolleyDelay="0" Hp="3" CraftAttackType="Default" CraftTargetType="Single"
        AttackDistance="100" /><CraftDes[...]
