interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/RoomService/ListConditionTypes2?languageKey=en
  response:
    body:
      string: <RoomService><ListConditionTypes version="511"><ConditionTypes><ConditionType
        ConditionTypeId="1" ConditionTypeName="None" ConditionTypeDescription="This
        condition will always be true and will execute the action" ConditionTypeAvailability="3"
        ConditionTypeCategory="None" ConditionTypeComparison="Higher" ConditionTypeParameterValue="0"
        ConditionTypeKey="None" ImageSpriteId="4" RoomType="None" ConditionTypeParameter="None"
        ColorString="" RequiredResearchDesignId="0" OrderIndex="0" RoomCategoryType="None"
        /><ConditionType ConditionTypeId="2" ConditionTypeName="Enemy Ship HP &lt;
        25%" ConditionTypeDescription="This condition is true when opponent ship has
        less than 25% HP" ConditionTypeAvailability="3" ConditionTypeCategory="EnemyShip"
        ConditionTypeComparison="LowerPercentage" ConditionTypeParameterValue="25"
        ConditionTypeKey="Hp" ImageSpriteId="4" RoomType="None" ConditionTypeParameter="Hp"
        ColorString="" RequiredResearchDesignId="95" OrderIndex="2" RoomCategoryType="None"
[...]
