interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/RoomService/ListMissileDesigns?clientDateTime=2024-03-24T17%3A17%3A02
  response:
    body:
      string: <RoomService><ListMissileDesigns version="569"><MissileDesigns><MissileDesign
        MissileDesignId="1" MissileDesignName="Mining Beam" SystemDamage="1" HullDamage="0"
        StunLength="0" EMPLength="0" CharacterDamage="1" FireLength="0" BreachChance="0"
        MissileType="Laser" LogoSpriteId="454" SpriteId="454" FlightType="Immediate"
        ExplosionType="Single" ExplosionRadius="0" Speed="0" Volley="1" VolleyDelay="0"
        HullPercentageDamage="0" FlightArgumentX="0" FlightArgumentY="0" DirectSystemDamage="0"
        ShieldDamage="0.5" Metadata="" MaskLaunchAnimationId="0" MaskHitAnimationId="0"
        MaskAnimationId="0" AnimationId="0" LaunchAnimationId="0" LaunchSoundFileId="5757"
        HitAnimationId="0" HitSoundFileId="4183" /><MissileDesign MissileDesignId="2"
        MissileDesignName="Rocket" SystemDamage="1" HullDamage="0" StunLength="0"
        EMPLength="0" CharacterDamage="1" FireLength="0" BreachChance="0" MissileType="Rocket"
        LogoSpriteId="1557" SpriteId="1557" FlightType="Linear" ExplosionType="Single"
        ExplosionRadius="0" Speed="15" Volley="1" VolleyDelay="0" HullPercentageDamage="0"
        FlightArgumentX="0" FlightArgumentY="0" DirectSystemDamage="0" ShieldDamage="0"
        Metadata="" MaskLaunchAnimati[...]
