interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/RoomService/ListRoomDesigns2?clientDateTime=2024-03-24T17%3A17%3A02&languageKey=en
  response:
    body:
      string: '<RoomService><ListRoomDesigns version="925"><RoomDesigns><RoomDesign
        RoomDesignId="1" RoomName="Bridge Lv1" RoomShortName="BRD:1" RoomType="Bridge"
        MaxSystemPower="0" ConstructionTime="60" Capacity="11" ReloadTime="0" ImageSpriteId="44"
        LogoSpriteId="19649" MaxPowerGenerated="0" RandomImprovements="1" ImprovementAmounts="0"
        ManufactureCapacity="0" ManufactureRate="0" ManufactureType="None" Level="1"
        CategoryType="Support" ConstructionSpriteId="97" MinShipLevel="1" ItemRank="0"
        Rotate="false" Rows="2" Columns="3" RoomDescription="Upgraded bridge systems
        allow a vessel improved chance at escaping from Battles." FlipOnEnemyShip="true"
        RootRoomDesignId="1" RefillUnitCost="0" DefaultDefenceBonus="150" PriceString="mineral:200"
        SortIndex="0" Flags="0" TargetType="None" SupportedGridTypes="1" EnhancementType="Pilot"
        CooldownTime="0" RequirementString="" Range="0" RefillCostString="" Metadata=""
        MaxCount="0" MinRange="0" ActivationDelay="0" Tags="" UpgradeFromRoomDesignId="0"
        MissileDesignId="0" InteriorAssetId="0" ExteriorAssetId="0" CraftDesignId="0"
        /><RoomDesign RoomDesignId="2" RoomName="Bedroom Lv1" RoomShortName="BED:1"
        RoomType="Bedroom" MaxSystemPower="0" ConstructionTime="10" Capacity="1" ReloadTime="0"
        ImageSpriteId="43" LogoSpriteId="103" MaxPowerGenerated="0" RandomImprovements="0"
        ImprovementAmounts="0" ManufactureCapacity="0" ManufactureRate="0" ManufactureType="None"
        Level="1" CategoryType="Support" ConstructionSpriteId="97" MinShipLevel="1"
        ItemRank="0" Rotate="false" Rows="2" Columns="3" RoomDescript[...]
