interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/RoomService/ListActionTypes2?languageKey=en
  response:
    body:
      string: <RoomService><ListActionTypes version="462"><ActionTypes><ActionType
        ActionTypeId="1" ActionTypeName="Set Maximum Power" RoomType="None" ActionTypeCategory="SetPower"
        ActionTypeKey="SetMaximumPower" ActionTypeParameterValue="999" ActionTypeDescription="Sets
        current assigned power to the maximum available" ActionTypeParameterRelativity="Absolute"
        ImageSpriteId="4" ConditionTypeCategory="YourShip" ConditionTypeParameter="None"
        ColorString="" RequiredResearchDesignId="0" OrderIndex="2" RoomCategoryType="None"
        /><ActionType ActionTypeId="2" ActionTypeName="Set Zero Power" RoomType="None"
        ActionTypeCategory="SetPower" ActionTypeKey="SetZeroPower" ActionTypeParameterValue="0"
        ActionTypeDescription="Resets all assigned power to 0" ActionTypeParameterRelativity="Absolute"
        ImageSpriteId="4" ConditionTypeCategory="YourShip" ConditionTypeParameter="None"
        ColorString="" RequiredResearchDesignId="0" OrderIndex="3" RoomCategoryType="None"
        /><ActionType ActionTypeId="3" ActionTypeName="[...]
