interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/SettingService/GetLatestVersion3?deviceType=DeviceTypeAndroid&languageKey=en
  response:
    body:
      string: <SettingService><GetLatestSetting><Setting SettingId="1" ServerSettingVersion="2385284"
        MinimumClientVersion="0.998.17" MaintenanceMessage="" AllianceBadgeSpriteIds="2261,2262,2263,2264,2265,2266,2267,2268,2269,2270,2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281,2282,2283,2284,2285,2286,2287,2288,2289,2290,2291,2293,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2306,2307,2308,2309,2310,2311,2312,2313,2314,2315,2316,2317,2318,2319,2320,2321,2322,653,654,655,2771,19343,19344,19345,19346,19347,19348,19349,19350[...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/RoomService/ListCraftDesigns?clientDateTime=2024-05-05T11%3A20%3A54
  response:
    body:
      string: <RoomService><ListCraftDesigns version="500"><CraftDesigns><CraftDesign
        CraftDesignId="1" CraftName="Interceptor" FlightSpeed="7" Reload="60" SpriteId="2337"
        MissileDesignId="47" Volley="1" VolleyDelay="0" Hp="3" CraftAttackType="Default"
        CraftTargetType="Single" AttackDistance="100" AttackRange="0" /><CraftDesign
        CraftDesignId="2" CraftName="Defender" FlightSpeed="4" Reload="240" SpriteId="2157"
        MissileDesignId="48" Volley="1" VolleyDelay="0" Hp="8" CraftAttackType="Default"
        CraftTargetType="Single" Attac[...]
