interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/RoomService/ListRoomDesignPurchase?clientDateTime=2024-03-24T17%3A17%3A02
  response:
    body:
      string: <RoomService><ListRoomDesignPurchase version="728"><RoomDesignPurchases><RoomDesignPurchase
        RoomDesignPurchaseId="1" RoomDesignId="2" Level="1" Quantity="1" AvailabilityMask="1"
        RequirementString="" /><RoomDesignPurchase RoomDesignPurchaseId="3" RoomDesignId="2"
        Level="3" Quantity="1" AvailabilityMask="1" RequirementString="" /><RoomDesignPurchase
        RoomDesignPurchaseId="4" RoomDesignId="3" Level="1" Quantity="6" AvailabilityMask="3"
        RequirementString="" /><RoomDesignPurchase RoomDesignPurchaseId="5" RoomDesignId="3"
        Level="2" Quantity="4" AvailabilityMask="3" RequirementString="" /><RoomDesignPurchase
        RoomDesignPurchaseId="6" RoomDesignId="3" Level="4" Quantity="4" Availabi[...]
