interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/SettingService/GetLatestVersion3?deviceType=DeviceTypeAndroid&languageKey=en
  response:
    body:
      string: <SettingService><GetLatestSetting><Setting SettingId="1" ServerSettingVersion="2330010"
        MinimumClientVersion="0.998.7" MaintenanceMessage="" AllianceBadgeSpriteIds="2261,2262,2263,2264,2265,2266,2267,2268,2269,2270,2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281,2282,2283,2284,2285,2286,2287,2288,2289,2290,2291,2293,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2306,2307,2308,2309,2310,2311,2312,2313,2314,2315,2316,2317,2318,2319,2320,2321,2322,653,654,655,2771,19343,19344,19345,19346,19347,19348,19349,19350,[...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/ChallengeService/ListAllChallengeDesigns2?clientDateTime=2024-03-21T06%3A56%3A51&languageKey=en
  response:
    body:
      string: '<ChallengeService><ListAllChallengeDesigns version="614"><ChallengeDesigns><ChallengeDesign
        IsRealtime="true" IsFirstFree="true" ChallengeDesignId="1" Name="Live AI Event"
        Description="Live AI PVP Challenge Event. Manual control is not permitted.
        Test your skills against other online captains." ChallengeArgument="3" ChallengeScoringArgument="9"
        Lives="3" EntryFee="50" BasePrize="20" MinBattlePrize="20" MaxBattlePrize="100"
        SpecialRuleArgument="0" OpponentShipIds="" Flags="0" RewardString="" RequirementString=""
        ChallengeDesignMetadata="" SpecialRuleType="None" ChallengeScoringType="Standard"
        ChallengeType="AI" ButtonAnimationId="165" StartDate="2018-01-25T00:00:00"
        EndDate="2018-01-26T00:00:00" RootAchievementDesignId="43" PosterSpriteId="4550"
        /><ChallengeDesign IsRealtime="true" IsFirstFree="true" ChallengeDesignId="2"
        Name="Veteran Crew" Description="Live AI PVP Event. All Crews are experienced
        veterans and are raised to Level 40." ChallengeArgument="3" ChallengeScoringArgument="9"
        Lives="3" EntryFee="40" BasePrize="40" MinBattlePrize="40" MaxBattlePrize="100"
        SpecialRuleArgument="40" OpponentShipIds="" Flags="3" RewardString="" RequirementString=""
        ChallengeDesignMetadata="" SpecialRuleType="CrewLevel" Challeng[...]
