interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/ChallengeService/ListAllChallengeDesigns2?clientDateTime=2024-03-24T17%3A17%3A02&languageKey=en
  response:
    body:
      string: '<ChallengeService><ListAllChallengeDesigns version="614"><ChallengeDesigns><ChallengeDesign
        IsRealtime="true" IsFirstFree="true" ChallengeDesignId="1" Name="Live AI Event"
        Description="Live AI PVP Challenge Event. Manual control is not permitted.
        Test your skills against other online captains." ChallengeArgument="3" ChallengeScoringArgument="9"
        Lives="3" EntryFee="50" BasePrize="20" MinBattlePrize="20" MaxBattlePrize="100"
        SpecialRuleArgument="0" OpponentShipIds="" Flags="0" RewardString="" RequirementString=""
        ChallengeDesignMetadata="" SpecialRuleType="None" ChallengeScoringType="Standard"
        ChallengeType="AI" ButtonAnimationId="165" StartDate="2018-01-25T00:00:00"
        EndDate="2018-01-26T00:00:00" RootAchievementDesignId="43" PosterSpriteId="4550"
        /><ChallengeDesign IsRealtime="true" IsFirstFree="true" ChallengeDesignId="2"
        Name="Veteran Crew" Description="Live AI PVP Event. All Crews are experienced
        veterans and are raised to Level 40." ChallengeArgument="3" ChallengeScoringArgument="9"
        Lives="3" EntryFee="40" BasePrize="40" MinBattlePrize="40" MaxBattlePrize="100"
        SpecialRuleArgument="40" OpponentShipIds="" Flags="3" RewardString="" RequirementString=""
        ChallengeDesignMetadata="" SpecialRuleType="CrewLevel" Challeng[...]
