interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/LeagueService/ListLeagues2?clientDateTime=2024-03-24T17%3A17%3A02&languageKey=en
  response:
    body:
      string: <LeagueService><ListLeagues version="462"><Leagues><League LeagueId="1"
        LeagueName="None" MinTrophy="0" MaxTrophy="499" MineralReward="0" GasReward="0"
        LargeLogoSpriteId="110" LogoSpriteId="110" BackgroundSpriteId="110" /><League
        LeagueId="2" LeagueName="Bronze" MinTrophy="500" MaxTrophy="999" MineralReward="500"
        GasReward="500" LargeLogoSpriteId="12077" LogoSpriteId="2448" BackgroundSpriteId="2442"
        /><League LeagueId="3" LeagueName="Bronze+" MinTrophy="1000" MaxTrophy="1099"
        MineralReward="1000" GasReward[...]
