interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/SettingService/GetLatestVersion3?deviceType=DeviceTypeAndroid&languageKey=en
  response:
    body:
      string: <SettingService><GetLatestSetting><Setting SettingId="1" ServerSettingVersion="2025002"
        MinimumClientVersion="0.997.1" MaintenanceMessage="" AllianceBadgeSpriteIds="2261,2262,2263,2264,2265,2266,2267,2268,2269,2270,2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281,2282,2283,2284,2285,2286,2287,2288,2289,2290,2291,2293,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2306,2307,2308,2309,2310,2311,2312,2313,2314,2315,2316,2317,2318,2319,2320,2321,2322,653,654,655,2771,19343,19344,19345,19346,19347,19348,19349,19350,[...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/ResearchService/ListAllResearchDesigns2?languageKey=en
  response:
    body:
      string: "<ResearchService><ListAllResearchDesigns version=\"525\"><ResearchDesigns><ResearchDesign
        ResearchDesignId=\"1\" ResearchName=\"Incendiary Technology\" ResearchDescription=\"Pyro
        experts can design a new range of incendiary weapons using the latest space
        pyro technology.\" LogoSpriteId=\"1599\" ImageSpriteId=\"1599\" GasCost=\"12500\"
        RequiredLabLevel=\"3\" ResearchTime=\"43200\" ResearchDesignType=\"Normal\"
        Argument=\"0\" StarbuxCost=\"0\" RootResearchDesignId=\"1\" AvailabilityMask=\"3\"
        VisibilityFlags=\"None\" RequiredResearchDesignId=\"0\" RequiredItemDesignId=\"0\"
        /><ResearchDesign ResearchDesignId=\"2\" ResearchName=\"Rocket Lv2\" ResearchDescription=\"Improvements
        to the standard rocket warhead results in higher damage.\" LogoSpriteId=\"1595\"
        ImageSpriteId=\"1595\" GasCost=\"2500\" RequiredLabLevel=\"1\" ResearchTime=\"10800\"
        ResearchDesignType=\"Normal\" Argument=\"0\" StarbuxCost=\"0\" RootResearchDesignId=\"2\"
        AvailabilityMask=\"3\" VisibilityFlags=\"None\" RequiredResearchDesignId=\"0\"
        RequiredItemDesignId=\"0\" /><Research[...]
