interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/ItemService/ListItemDesignActions?clientDateTime=2024-03-24T17%3A17%3A02
  response:
    body:
      string: <ItemService><ListItemDesignActions version="95"><ItemDesignActions><ItemDesignAction
        ItemDesignActionId="1" ItemDesignId="749" ItemDesignActionIndex="0" ConditionTypeId="107"
        ActionTypeId="39" /><ItemDesignAction ItemDesignActionId="2" ItemDesignId="749"
        ItemDesignActionIndex="1" ConditionTypeId="51" ActionTypeId="29" /><ItemDesignAction
        ItemDesignActionId="3" ItemDesignId="749" ItemDesignActionIndex="2" ConditionTypeId="96"
        ActionTypeId="29" /><ItemDesignAction ItemDesignActionId="4" ItemDesignId="749"
        ItemDesignActionIndex="3" ConditionTypeId="93" ActionTypeId="29" /><ItemDesignAction
        ItemDesignActionId="5" ItemDesignId="751" ItemDesignActionIndex="0" ConditionTy[...]
