interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/SettingService/GetLatestVersion3?deviceType=DeviceTypeAndroid&languageKey=en
  response:
    body:
      string: <SettingService><GetLatestSetting><Setting SettingId="1" ServerSettingVersion="2330010"
        MinimumClientVersion="0.998.7" MaintenanceMessage="" AllianceBadgeSpriteIds="2261,2262,2263,2264,2265,2266,2267,2268,2269,2270,2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281,2282,2283,2284,2285,2286,2287,2288,2289,2290,2291,2293,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2306,2307,2308,2309,2310,2311,2312,2313,2314,2315,2316,2317,2318,2319,2320,2321,2322,653,654,655,2771,19343,19344,19345,19346,19347,19348,19349,19350,[...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/ItemService/ListItemDesigns2?clientDateTime=2024-03-21T07%3A25%3A55&languageKey=en
  response:
    body:
      string: "<ItemService><ListItemDesigns version=\"164998\"><ItemDesigns><ItemDesign
        ItemDesignId=\"2\" ItemDesignName=\"Gas\" ItemDesignKey=\"Gas\" ItemDesignDescription=\"Common
        resource often used for surviving in space.\" ImageSpriteId=\"1246\" LogoSpriteId=\"1246\"
        ItemSpace=\"1\" ItemType=\"Gas\" GasCost=\"0\" MineralCost=\"0\" Rank=\"1\"
        MinRoomLevel=\"1\" BuildTime=\"0\" RootItemDesignId=\"2\" ItemSubType=\"None\"
        EnhancementType=\"None\" EnhancementValue=\"0\" MarketPrice=\"0\" DropChance=\"0\"
        Ingredients=\"\" Rarity=\"Common\" ModuleType=\"None\" ModuleArgument=\"0\"
        Flags=\"0\" FairPrice=\"0\" MinShipLevel=\"0\" ManufactureCost=\"\" ItemDesignNameEN=\"Gas\"
        Content=\"\" OurPrice=\"0\" Metadata=\"\" Priority=\"0\" RequirementString=\"\"
        MaxCount=\"0\" Level=\"1\" Tags=\"\" ReloadModifier=\"100\" RaceId=\"0\" RequiredResearchDesignId=\"0\"
        ParentItemDesignId=\"0\" CraftDesignId=\"0\" MissileDesignId=\"0\" CharacterPartId=\"0\"
        ActiveAnimationId=\"0\" AnimationId=\"0\" BorderSpriteId=\"0\" SoundFileId=\"0\"
        CharacterDesignId=\"0\" TrainingDesignId=\"0\" RoomDesignId=\"0\" ParticleSpriteId=\"0\"
        EquipSoundFileId=\"0\" SituationDesignId=\"0\" /><ItemDesign ItemDesignId=\"3\"
        ItemDesignName=\"Mineral\" ItemDesignKey=\"Mineral\" ItemDesignDescription=\"Common
        resource often used for surviving in space.\" ImageSpriteId=\"101\" LogoSpriteId=\"101\"
        ItemSpace=\"1\" ItemType=\"Mineral\" GasCost=\"0\" MineralCost=\"0\" Rank=\"1\"
        MinRoomLevel=\"1\" BuildTime=\"0\" RootItemDesignId=\"3\" ItemSubType=\"None\"
        EnhancementType=\"None\" EnhancementValue=\"0\" MarketPrice=\"0\" DropChance=\"0\"
        Ingredients=\"\" R[...]
