interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/SettingService/GetLatestVersion3?deviceType=DeviceTypeAndroid&languageKey=en
  response:
    body:
      string: <SettingService><GetLatestSetting><Setting SettingId="1" ServerSettingVersion="2330046"
        MinimumClientVersion="0.998.7" MaintenanceMessage="" AllianceBadgeSpriteIds="2261,2262,2263,2264,2265,2266,2267,2268,2269,2270,2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281,2282,2283,2284,2285,2286,2287,2288,2289,2290,2291,2293,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2306,2307,2308,2309,2310,2311,2312,2313,2314,2315,2316,2317,2318,2319,2320,2321,2322,653,654,655,2771,19343,19344,19345,19346,19347,19348,19349,19350,[...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/RewardService/ListAllRewardDesigns2?clientDateTime=2024-03-21T19%3A30%3A23&languageKey=en
  response:
    body:
      string: "<RewardService><ListAllRewardDesigns version=\"345836\"><RewardDesigns><RewardDesign
        RewardDesignId=\"1\" RewardName=\"Auxiliary Missile Launcher\" RewardDescription=\"Unique
        Kickstarter Edition Weapon\" RewardType=\"None\" ArgumentString=\"room:405\"
        PriceString=\"points:95\" AvailableQuantity=\"999467\" MaxPerUser=\"1\" AvailableEveryXDays=\"1\"
        Grids=\"4\" OrderIndex=\"200\" Flags=\"0\" RequirementString=\"\" Metadata=\"\"
        SeasonDesignId=\"0\" BattlePassTierIndex=\"0\" AvailableFrom=\"2000-01-01T00:00:00\"
        AvailableTo=\"2050-01-01T00:00:00\" BackgroundSpriteId=\"7774\" SpriteId=\"0\"
        /><RewardDesign RewardDesignId=\"2\" RewardName=\"Mr Roboto\" RewardDescription=\"A
        Silver Robot constructed during Kickstarter.\" RewardType=\"None\" ArgumentString=\"character:222\"
        PriceString=\"points:110\" AvailableQuantity=\"19984\" MaxPerUser=\"1\" AvailableEveryXDays=\"1\"
        Grids=\"1\" OrderIndex=\"201\" Flags=\"0\" RequirementString=\"\" Metadata=\"\"
        SeasonDesignId=\"0\" BattlePassTierIndex=\"0\" AvailableFrom=\"2000-01-01T00:00:00\"
        AvailableTo=\"2050-01-01T00:0[...]
