interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/AllianceService/ListAlliancesByRanking?skip=0&take=100
  response:
    body:
      string: "<AllianceService><ListAlliancesByRanking><Alliances><Alliance AllianceId=\"43776\"
        AllianceName=\"Summit\" MinTrophyRequired=\"5200\" RequiresApproval=\"true\"
        AllianceDescription=\"&lt;color=#FFFF00&gt;United in the pursuit of peace,
        we forge ahead, standing together as one. SUMMIT strives to become the greatest
        force in the universe.&lt;/color&gt;&lt;color=#000000&gt;&lt;size=20&gt;Welcome
        to join us!&lt;/size&gt;\r&lt;/color&gt;\r\n&lt;color=#FF3399&gt;\u8054\u5408\u4E3A\u548C\u5E73\u800C\u6218\uFF0C\u52C7\u5F80\u[...]
