interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/SettingService/GetLatestVersion3?deviceType=DeviceTypeAndroid&languageKey=en
  response:
    body:
      string: <SettingService><GetLatestSetting><Setting SettingId="1" ServerSettingVersion="1950548"
        MinimumClientVersion="0.996.1" MaintenanceMessage="" AllianceBadgeSpriteIds="2261,2262,2263,2264,2265,2266,2267,2268,2269,2270,2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281,2282,2283,2284,2285,2286,2287,2288,2289,2290,2291,2293,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2306,2307,2308,2309,2310,2311,2312,2313,2314,2315,2316,2317,2318,2319,2320,2321,2322,653,654,655,2771,19343,19344,19345,19346,19347,19348,19349,19350,[...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/CharacterService/ListAllDrawDesigns?languageKey=en
  response:
    body:
      string: <CharacterService><ListAllDrawDesigns version="343"><DrawDesigns><DrawDesign
        DrawDesignId="1" DrawName="Common Recruit" DrawDescription="Recruit Common
        to Elite Crew" DrawSpriteId="699" DrawType="Character" Cost="mineral:100"
        CostPercentageIncrease="50" MinCrewsDrawn="1" MaxCrewsDrawn="1" MinCrewRarity="0"
        MaxCrewRarity="1" BonusIncrease="0" MinItems="0" MaxItems="0" MaxCostPercentageIncrease="4000000"
        OrderIndex="0" BackgroundSpriteId="10169" RequiredResearchDesignId="0" CollectionDesignId="0"
        /><DrawDesign DrawDesignId="2" DrawName="Elite Recruit" DrawDescription="Recruit
        Elite to Unique Crew" DrawSpriteId="8125" DrawType="Character" Cost="gas:500"
        CostPercentageIncrease="50" MinCrewsDrawn="1" MaxCrewsDrawn="1" MinCrewRarity="1"
        MaxCrewRarity="2" BonusIncrease="0" MinItems="0" MaxItems="0" MaxCostPercentageIncrease="800000"
        OrderIndex="1" BackgroundSpriteId="10170" RequiredResearchDesignId="0" CollectionDesignId="0"
        /><DrawDesign DrawDesignId="3" DrawName="Beer Draw" DrawDescription="Recruit
        Unique to Heroic Crew" DrawSpriteId="700" DrawType="Character" Cost="starbux:100"
        CostPercentageIncrease="10" MinCrewsDrawn="1" MaxCrewsDrawn="1" MinCrewRarity="2"
        MaxCrewRarity="4" BonusIncrease="1" MinItems="0" MaxItems="0" MaxCostPercentageIncrease="350"
        OrderIndex="2" BackgroundSpriteId="10171" RequiredResearchDesignId="10" CollectionDesignId="0"
        /><DrawDesign DrawDesignId="4" DrawName="Advanced Beer Draw" DrawDescription="Recruit
        Epic to Heroic Crew" DrawSpriteId="8126" DrawType="Character" Cost="starbux:300"
        CostPercentageIncrease="10" MinCrewsDrawn="1" MaxCrewsDrawn="1" MinCrewRarity="3"
        MaxCrewRarity="4" BonusIncrease="3" MinItems="0" MaxItems="0" MaxCostPercentageIncrease="300"
        OrderIndex="3" BackgroundSpriteId="10172" RequiredResearchDesignId="10" CollectionDesignId="0"
        /></DrawDesigns></ListAllDrawDesigns></CharacterService>
    headers:
      Content-Type:
      - application/xml
      Last-Modified:
      - Mon, 19 Jun 2023 22:05:04 GMT
    status:
      code: 200
      message: OK
    url: https://api.pixelstarships.com/CharacterService/ListAllDrawDesigns?languageKey=en
version: 1
