interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/CharacterService/PrestigeCharacterTo?characterDesignId=19
  response:
    body:
      string: <CharacterService><PrestigeCharacterTo timestamp="2023-06-19T22:07:36"><Prestiges><Prestige
        CharacterDesignId1="38" CharacterDesignId2="95" ToCharacterDesignId="19" /><Prestige
        CharacterDesignId1="38" CharacterDesignId2="160" ToCharacterDesignId="19"
        /><Prestige CharacterDesignId1="47" CharacterDesignId2="215" ToCharacterDesignId="19"
        /><Prestige CharacterDesignId1="47" CharacterDesignId2="279" ToCharacterDesignId="19"
        /><Prestige CharacterDesignId1="47" CharacterDesignId2="313" ToCharacterDesignId="19"
        /><Prestige CharacterDesignId1="47" CharacterDesignId2="439" ToCharacterDesignId="19"
        /><Prestige CharacterDesignId1="62" CharacterDesignId2="62" ToCharacterDesignId="19"
        /><Prestige CharacterDesignId1="62" Charact[...]
