interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/CharacterService/PrestigeCharacterTo?characterDesignId=19
  response:
    body:
      string: <CharacterService><PrestigeCharacterTo timestamp="2024-03-21T06:57:27"><Prestiges><Prestige
        CharacterDesignId1="45" CharacterDesignId2="345" ToCharacterDesignId="19"
        /><Prestige CharacterDesignId1="91" CharacterDesignId2="185" ToCharacterDesignId="19"
        /><Prestige CharacterDesignId1="91" CharacterDesignId2="321" ToCharacterDesignId="19"
        /><Prestige CharacterDesignId1="95" CharacterDesignId2="103" ToCharacterDesignId="19"
        /><Prestige CharacterDesignId1="103" CharacterDesignId2="95" ToCharacterDesignId="19"
        /><Prestige CharacterDesignId1="137" CharacterDesignId2="345" ToCharacterDesignId="19"
        /><Prestige CharacterDesignId1="159" CharacterDesignId2="185" ToCharacterDesignId="19"
        /><Prestige CharacterDesignId1="159" CharacterDesignId2="321" ToCharacterDesignId="19"
        /><Prestige CharacterDesignId1="185" CharacterDesignId2="91" ToCharacterDesignId="19"
        /><Prestige CharacterDesignId1="185" CharacterDesignId2="159" ToCharacterDesignId="19"
        /><Prestige CharacterDesignId1="321" CharacterDesignId2="91" ToCharacterDesignId="19"
        /><Prestige CharacterDesignId1="321" CharacterDesignId2="159" ToCharacterDesignId="19"
        /><Prestige CharacterDesignId1="345" CharacterDesignId2="45" ToCharacterDesignId="19"
        /><Prestige CharacterDesignId1="345" CharacterDesignId2="137" ToCharacterDesignId="19"
        /><Prestige CharacterDesignId1="345" CharacterDesignId2="477" ToCharacterDesignId="19"
        /><Prestige CharacterDesignId1="477" CharacterDesignId2="345" ToCharacterDesignId="19"
        /></Prestiges></PrestigeCharacterTo></CharacterService>
    headers:
      Content-Type:
      - application/xml
      Last-Modified:
      - Thu, 21 Mar 2024 06:57:27 GMT
    status:
      code: 200
      message: OK
version: 1
