interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/CharacterService/ListAllDrawDesigns?clientDateTime=2024-03-24T17%3A17%3A02&languageKey=en
  response:
    body:
      string: <CharacterService><ListAllDrawDesigns version="365"><DrawDesigns><DrawDesign
        DrawDesignId="1" DrawName="Common Recruit" DrawDescription="Recruit Common
        to Elite Crew" DrawSpriteId="699" DrawType="Character" Cost="mineral:100"
        CostPercentageIncrease="50" MinCrewsDrawn="1" MaxCrewsDrawn="1" MinCrewRarity="0"
        MaxCrewRarity="1" BonusIncrease="0" MinItems="0" MaxItems="0" MaxCostPercentageIncrease="4000000"
        OrderIndex="0" BackgroundSpriteId="10169" RequiredResearchDesignId="0" CollectionDesignId="0"
        /><DrawDesign DrawDesignId="2" DrawName="Elite Recruit" DrawDescription="Recruit
        Elite to Unique Crew" DrawSpriteId="8125" DrawType="Character" Cost="gas:500"
        CostPercentageIncrease="50" MinCrewsDrawn="1" MaxCrewsDrawn="1" MinCrewRarity="1"
        MaxCrewRarity="2" BonusIncrease="0" MinItems="0" MaxItems="0" MaxCostPercentageIncrease="800000"
        OrderIndex="1" BackgroundSpriteId="10170" RequiredResearchDesignId="0" CollectionDesignId="0"
        /><DrawDesign DrawDesignId="3" DrawName="Beer Draw" DrawDescription="Recruit
        Unique to Heroic Crew" DrawSpriteId="700" DrawType="Character" Cost="starbux:100"
        CostPercentageIncrease="10" MinCrewsDrawn="1" MaxCrewsDrawn="1" MinCrewRarity="2"
        MaxCrewRarity="4" BonusIncrease="1" MinItems="0" MaxItems="0" MaxCostPercentageIncrease="350"
        OrderIndex="2" BackgroundSpriteId="10171" RequiredResearchDesignId="10" CollectionDesignId="0"
        /><DrawDesign DrawDesignId="4" DrawName="Advanced Beer Draw" DrawDescription="Recruit
        Epic to Heroic Crew" DrawSpriteId="8126" DrawType="Character" Cost="starbux:300"
        CostPercentageIncrease="10" MinCrewsDrawn="1" MaxCrewsDrawn="1" MinCrewRarity="3"
        MaxCrewRarity="4" BonusIncrease="3" MinItems="0" MaxItems="0" MaxCostPercentageIncrease="300"
        OrderIndex="3" BackgroundSpriteId="10172" RequiredResearchDesignId="10" CollectionDesignId="0"
        /></DrawDesigns></ListAllDrawDesigns></CharacterService>
    headers:
      Content-Type:
      - application/xml
      Last-Modified:
      - Sun, 24 Mar 2024 17:17:08 GMT
    status:
      code: 200
      message: OK
version: 1
