interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/SettingService/GetLatestVersion3?deviceType=DeviceTypeAndroid&languageKey=en
  response:
    body:
      string: <SettingService><GetLatestSetting><Setting SettingId="1" ServerSettingVersion="2373061"
        MinimumClientVersion="0.998.7" MaintenanceMessage="" AllianceBadgeSpriteIds="2261,2262,2263,2264,2265,2266,2267,2268,2269,2270,2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281,2282,2283,2284,2285,2286,2287,2288,2289,2290,2291,2293,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2306,2307,2308,2309,2310,2311,2312,2313,2314,2315,2316,2317,2318,2319,2320,2321,2322,653,654,655,2771,19343,19344,19345,19346,19347,19348,19349,19350,[...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/CharacterService/ListAllCharacterDesigns2?clientDateTime=2024-03-24T17%3A18%3A52&languageKey=en
  response:
    body:
      string: "<CharacterService><ListAllCharacterDesigns version=\"1112\"><CharacterDesigns><CharacterDesign
        CharacterDesignId=\"1\" CharacterDesignName=\"Laura\" CharacterHeadPartId=\"1\"
        CharacterBodyPartId=\"2\" GenderType=\"Female\" RaceType=\"Unknown\" Hp=\"2\"
        Pilot=\"0\" Attack=\"1\" FireResistance=\"1\" Repair=\"1\" Weapon=\"1\" Science=\"1\"
        Engine=\"1\" Research=\"1\" Level=\"1\" WalkingSpeed=\"1\" MinShipLevel=\"1\"
        FinalHp=\"6\" FinalPilot=\"18\" FinalAttack=\"1.9\" FinalRepair=\"1.7\" FinalWeapon=\"4\"
        FinalScience=\"7\" FinalEngine=\"3\" FinalResearch=\"4\" CharacterLegPartId=\"28\"
        Rarity=\"Special\" ProgressionType=\"Linear\" CharacterDesignDescription=\"Space
        Academy graduate and much loved Capt'n of the Starship.\" XpRequirementScale=\"1\"
        MaxCharacterLevel=\"40\" SpecialAbilityType=\"DeductReload\" SpecialAbilityArgument=\"240\"
        SpecialAbilityFinalArgument=\"460\" ProfileSpriteId=\"2852\" RunSpeed=\"2\"
        TrainingCapacity=\"200\" EquipmentMask=\"62\" SpeechVoice=\"\" SpeechPhrases=\"\"
        SpeechRate=\"1\" SpeechPitch=\"1\" Flags=\"9\" RootCharacterDesignId=\"1\"
        MaxCount=\"0\" Tags=\"\" TapSoundFileId=\"5751\" ActionSoundFileId=\"5753\"
        CollectionDesignId=\"0\"><CharacterParts><CharacterPart CharacterPartId=\"1\"
        CharacterPartName=\"characterAsianFemale1Head\" CharacterPartType=\"Head\"
        StandardSpriteId=\"366\" StandardFileId=\"0\" ActionFileId=\"0\" StandardBorderFileId=\"0\"
        ActionBorderFileId=\"0\" ActionSpriteId=\"367\" /><CharacterPart CharacterPartId=\"2\"
        CharacterPartName=\"characterAsianFemale1Body\" CharacterPartType=\"Body\"
        StandardSpriteId=\"370\" StandardFileId=\"0\" ActionFileId=\"0\" StandardBorderFileId=\"0\"
        ActionBor[...]
