interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/CharacterService/ListAllCharacterDesignActions?clientDateTime=2024-03-24T17%3A17%3A02
  response:
    body:
      string: <CharacterService><ListAllCharacterDesignActions version="398"><CharacterDesignActions><CharacterDesignAction
        CharacterDesignActionId="1" CharacterDesignId="155" CharacterDesignActionIndex="0"
        ConditionTypeId="1" ActionTypeId="21" /><CharacterDesignAction CharacterDesignActionId="2"
        CharacterDesignId="166" CharacterDesignActionIndex="0" ConditionTypeId="33"
        ActionTypeId="29" /><CharacterDesignAction CharacterDesignActionId="3" CharacterDesignId="166"
        CharacterDesignActionIndex="1" ConditionTypeId="1" ActionTypeId="34" /><CharacterDesignAction
        CharacterDesignActionId="4" CharacterDesignId="168" CharacterDesignActionIndex="0"
        ConditionTypeId="33" ActionTypeId="29" /><CharacterDesignAction CharacterDesignActio[...]
