interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/CharacterService/PrestigeCharacterFrom?characterDesignId=19
  response:
    body:
      string: <CharacterService><PrestigeCharacterFrom timestamp="2024-03-24T17:15:05"><Prestiges><Prestige
        CharacterDesignId1="19" CharacterDesignId2="7" ToCharacterDesignId="116" /><Prestige
        CharacterDesignId1="19" CharacterDesignId2="10" ToCharacterDesignId="115"
        /><Prestige CharacterDesignId1="19" CharacterDesignId2="12" ToCharacterDesignId="375"
        /><Prestige CharacterDesignId1="19" CharacterDesignId2="18" ToCharacterDesignId="375"
        /><Prestige CharacterDesignId1="19" CharacterDesignId2="19" ToCharacterDesignId="433"
        /><Prestige CharacterDesignId1="19" CharacterDesignId2="21" ToCharacterDesignId="409"
        /><Prestige CharacterDesignId1="19" CharacterDesignId2="37" ToCharacterDesignId="435"
        /><Prestige CharacterDesignId1="19" Charac[...]
