interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/HistoryService/PriceHistory?itemDesignId=778
  response:
    body:
      string: <HistoryService><PriceHistory><Histories><History HistoryId="485616018"
        HistoryType="ItemPrices" Argument="778" Value="6" Date="2023-05-23T00:00:00"
        /><History HistoryId="485771144" HistoryType="ItemPrices" Argument="778" Value="6"
        Date="2023-05-24T00:00:00" /><History HistoryId="485926917" HistoryType="ItemPrices"
        Argument="778" Value="6" Date="2023-05-25T00:00:00" /><History HistoryId="486085218"
        HistoryType="ItemPrices" Argument="778" Value="6" Date="2023-05-26T00:00:00"
        /><History HistoryId="4[...]
