interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/HistoryService/PriceHistory?itemDesignId=778
  response:
    body:
      string: <HistoryService><PriceHistory><Histories><History HistoryId="487603932"
        HistoryType="ItemPrices" Argument="778" Value="6" Date="2023-06-04T00:00:00"
        /><History HistoryId="487777375" HistoryType="ItemPrices" Argument="778" Value="6"
        Date="2023-06-05T00:00:00" /><History HistoryId="487950566" HistoryType="ItemPrices"
        Argument="778" Value="6" Date="2023-06-06T00:00:00" /><History HistoryId="488123747"
        HistoryType="ItemPrices" Argument="778" Value="6" Date="2023-06-07T00:00:00"
        /><History HistoryId="4[...]
