interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/HistoryService/PriceHistory?itemDesignId=778
  response:
    body:
      string: <HistoryService><PriceHistory><Histories><History HistoryId="530285762"
        HistoryType="ItemPrices" Argument="778" Value="24" Date="2024-02-23T00:00:00"
        /><History HistoryId="530403092" HistoryType="ItemPrices" Argument="778" Value="25"
        Date="2024-02-24T00:00:00" /><History HistoryId="530520236" HistoryType="ItemPrices"
        Argument="778" Value="27" Date="2024-02-25T00:00:00" /><History HistoryId="530637400"
        HistoryType="ItemPrices" Argument="778" Value="27" Date="2024-02-26T00:00:00"
        /><History HistoryI[...]
