interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/SettingService/GetLatestVersion3?deviceType=DeviceTypeAndroid&languageKey=en
  response:
    body:
      string: <SettingService><GetLatestSetting><Setting SettingId="1" ServerSettingVersion="2025010"
        MinimumClientVersion="0.997.1" MaintenanceMessage="" AllianceBadgeSpriteIds="2261,2262,2263,2264,2265,2266,2267,2268,2269,2270,2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281,2282,2283,2284,2285,2286,2287,2288,2289,2290,2291,2293,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2306,2307,2308,2309,2310,2311,2312,2313,2314,2315,2316,2317,2318,2319,2320,2321,2322,653,654,655,2771,19343,19344,19345,19346,19347,19348,19349,19350,[...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/SituationService/ListSituationDesigns?languageKey=en
  response:
    body:
      string: <SituationService><ListSituationDesigns version="487"><SituationDesigns><SituationDesign
        SituationDesignId="1" SituationName="Grave Day" SituationDescription="Grave
        Day. Ghosts will be created during the battle" SituationType="None" Flags="37"
        ChangeType="AddCrew" ChangeArgumentString="character:327" RequirementString="room:223
        &gt;= 1 &amp;&amp; mission:156 &gt;= 1" DailyOccurrenceLimit="20" TriggerType="None"
        Chance="100" SituationTags="" FromDate="2015-07-22T01:58:08" EndDate="2019-04-30T01:58:08"
        IconSpriteId="0" /><SituationDesign SituationDesignId="2" SituationName="Egg
        for Easter" SituationDescription="Egg will dropped randomly" SituationType="Environmental"
        Flags="37" ChangeType="AddLoot" ChangeArgumentString="item:713x1" RequirementString=""
        DailyOccurrenceLimit="20" TriggerType="PvP" Chance="25" SituationTags="" FromDate="2015-07-22T01:58:08"
        EndDate="2019-04-30T01:58:08" IconSpriteId="0" /><SituationDesign SituationDesignId="3"
        SituationName="Egg for Easter" SituationDescripti[...]
