interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/SituationService/ListSituationDesigns?clientDateTime=2024-03-24T17%3A17%3A02&languageKey=en
  response:
    body:
      string: <SituationService><ListSituationDesigns version="537"><SituationDesigns><SituationDesign
        SituationDesignId="1" SituationName="Grave Day" SituationDescription="Grave
        Day. Ghosts will be created during the battle" SituationType="None" Flags="37"
        ChangeType="AddCrew" ChangeArgumentString="character:327" RequirementString="room:223
        &gt;= 1 &amp;&amp; mission:156 &gt;= 1" DailyOccurrenceLimit="20" TriggerType="None"
        Chance="100" SituationTags="" FromDate="2015-07-22T01:58:08" EndDate="2019-04-30T01:58:08"
        IconSpriteId="0" /><SituationDesign SituationDesignId="2" SituationName="Egg
        for Easter" SituationDescription="Egg will dropped randomly" SituationType="Environmental"
        Flags="37" ChangeType="AddLoot" ChangeArgumentString="item:713x1" RequirementString=""
        DailyOccurrenceLimit="20" TriggerType="PvP" Chance="25" SituationTags="" FromDate="2015-07-22T01:58:08"
        EndDate="2019-04-30T01:58:08" IconSpriteId="0" /><SituationDesign SituationDesignId="3"
        SituationName="Egg for Easter" SituationDescripti[...]
