interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/SettingService/GetLatestVersion3?deviceType=DeviceTypeAndroid&languageKey=en
  response:
    body:
      string: <SettingService><GetLatestSetting><Setting SettingId="1" ServerSettingVersion="1950636"
        MinimumClientVersion="0.996.1" MaintenanceMessage="" AllianceBadgeSpriteIds="2261,2262,2263,2264,2265,2266,2267,2268,2269,2270,2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281,2282,2283,2284,2285,2286,2287,2288,2289,2290,2291,2293,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2306,2307,2308,2309,2310,2311,2312,2313,2314,2315,2316,2317,2318,2319,2320,2321,2322,653,654,655,2771,19343,19344,19345,19346,19347,19348,19349,19350,[...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/FileService/ListSprites2?languageKey=en
  response:
    body:
      string: "<FileService><ListSprites version=\"2790\"><Sprites><Sprite SpriteId=\"4\"
        ImageFileId=\"6\" X=\"0\" Y=\"0\" Width=\"450\" Height=\"250\" SpriteKey=\"Pirate_Lv1_Exterior\"
        /><Sprite SpriteId=\"5\" ImageFileId=\"7\" X=\"0\" Y=\"0\" Width=\"450\" Height=\"250\"
        SpriteKey=\"Pirate_Lv1_Interior\" /><Sprite SpriteId=\"7\" ImageFileId=\"11\"
        X=\"0\" Y=\"0\" Width=\"400\" Height=\"225\" SpriteKey=\"Fed_Lv1_Exterior\"
        /><Sprite SpriteId=\"8\" ImageFileId=\"12\" X=\"0\" Y=\"0\" Width=\"400\"
        Height=\"225\" SpriteKey[...]
