interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/SettingService/GetLatestVersion3?deviceType=DeviceTypeAndroid&languageKey=en
  response:
    body:
      string: <SettingService><GetLatestSetting><Setting SettingId="1" ServerSettingVersion="1950636"
        MinimumClientVersion="0.996.1" MaintenanceMessage="" AllianceBadgeSpriteIds="2261,2262,2263,2264,2265,2266,2267,2268,2269,2270,2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281,2282,2283,2284,2285,2286,2287,2288,2289,2290,2291,2293,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2306,2307,2308,2309,2310,2311,2312,2313,2314,2315,2316,2317,2318,2319,2320,2321,2322,653,654,655,2771,19343,19344,19345,19346,19347,19348,19349,19350,[...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/FileService/ListFiles4?languageKey=en
  response:
    body:
      string: <FileService><ListFiles version="2079"><Files><File Id="6" Filename="Pirate_Ship_Lv2.png"
        DateUpdated="2021-06-28T02:54:08" FileDownloadCategory="None" Size="15679"
        IsLanguageSpecific="true" AwsFilename="6.png" /><File Id="7" Filename="Pirate_Ship_Lv2_Inner.png"
        DateUpdated="2021-06-28T02:54:08" FileDownloadCategory="None" Size="22509"
        IsLanguageSpecific="false" AwsFilename="7.png" /><File Id="8" Filename="heroic.ogg"
        DateUpdated="2021-06-28T02:54:08" FileDownloadCategory="None" Size="26326"
        IsLangu[...]
