interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/SettingService/GetLatestVersion3?deviceType=DeviceTypeAndroid&languageKey=en
  response:
    body:
      string: <SettingService><GetLatestSetting><Setting SettingId="1" ServerSettingVersion="2025007"
        MinimumClientVersion="0.997.1" MaintenanceMessage="" AllianceBadgeSpriteIds="2261,2262,2263,2264,2265,2266,2267,2268,2269,2270,2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281,2282,2283,2284,2285,2286,2287,2288,2289,2290,2291,2293,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2306,2307,2308,2309,2310,2311,2312,2313,2314,2315,2316,2317,2318,2319,2320,2321,2322,653,654,655,2771,19343,19344,19345,19346,19347,19348,19349,19350,[...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/SeasonService/ListAllSeasonDesigns?languageKey=en
  response:
    body:
      string: "<SeasonService><ListAllSeasonDesigns><SeasonDesigns><SeasonDesign SeasonDesignId=\"1\"
        SeasonName=\"The Crystal Plague\" SeasonDescription=\"A strange sickness is
        spreading amongst the stars, an alien presence that threatens all we hold
        dear. Join the fight to defend your home, and win exclusive Season Rewards!\"
        SeasonType=\"None\" RequirementString=\"\" Metadata=\"\" SubTitle=\"Season
        I\" PrologueDescription=\"\" RewardString=\"\" FromDate=\"2021-10-07T00:00:00\"
        EndDate=\"2021-12-02T00:00:00\" IconSpriteId=\"1[...]
