interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/SeasonService/ListAllSeasonDesigns?clientDateTime=2024-03-24T17%3A17%3A02&languageKey=en
  response:
    body:
      string: "<SeasonService><ListAllSeasonDesigns version=\"106\"><SeasonDesigns><SeasonDesign
        SeasonDesignId=\"1\" SeasonName=\"The Crystal Plague\" SeasonDescription=\"A
        strange sickness is spreading amongst the stars, an alien presence that threatens
        all we hold dear. Join the fight to defend your home, and win exclusive Season
        Rewards!\" SeasonType=\"None\" RequirementString=\"\" Metadata=\"\" SubTitle=\"Season
        I\" PrologueDescription=\"\" RewardString=\"\" FromDate=\"2021-10-07T00:00:00\"
        EndDate=\"2021-12-02T00:00:00\" IconSpriteId=\"16653\" BackgroundSpriteId=\"16730\"
        SeasonSpriteId=\"16731\" TitleSpriteId=\"16733\" CloseButtonSpriteId=\"16734\"
        ButtonSpriteId=\"16741\" TextFrameSpriteId=\"16732\" BannerSpriteId=\"0\"
        BannerBackgroundSpriteId=\"0\" SubtitleSpriteId=\"0\" /><SeasonDesign SeasonDesignId=\"2\"
        SeasonName=\"Radioactive Winter\" SeasonDescription=\"A nuclear blizzard has
        turned wasteland into wonderland, blanketing the world in glowing green snow.
        Embrace the fissile festivities, and earn exclusive Season Rewards!\" SeasonType=\"None\"
        RequirementString=\"\" Metadata=\"{&quot;BackgroundSpriteId&quot;:&quot;17067&quot;,&quot;MediumFloatingSpriteId&quot;:&quot;17031&quot;}\"
        SubTitle=\"Season 2\" PrologueDescription=\"Prancing P[...]
