interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/RoomDesignSpriteService/ListRoomDesignSprites2?languageKey=en
  response:
    body:
      string: "<RoomDesignSpriteService><ListRoomDesignSprites version=\"746\"><RoomDesignSprites><RoomDesignSprite
        RoomDesignSpriteId=\"2\" RoomDesignId=\"1\" SpriteId=\"44\" RoomSpriteType=\"Interior\"
        RoomEffectType=\"None\" RoomEffectParameter=\"0\" SkinName=\"\" SkinDescription=\"\"
        RequirementString=\"\" Flags=\"0\" Metadata=\"\" RaceId=\"0\" AnimationId=\"0\"
        SkinKey=\"0\" /><RoomDesignSprite RoomDesignSpriteId=\"3\" RoomDesignId=\"2\"
        SpriteId=\"43\" RoomSpriteType=\"Interior\" RoomEffectType=\"None\" RoomEffectParameter=\"0\"
        SkinName=\"\" SkinDescription=\"\" RequirementString=\"\" Flags=\"0\" Metadata=\"\"
        RaceId=\"0\" AnimationId=\"0\" SkinKey=\"0\" /><RoomDesignSprite RoomDesignSpriteId=\"4\"
        RoomDesignId=\"3\" SpriteId=\"15\" RoomSpriteType=\"Interior\" RoomEffectType=\"None\"
        RoomEffectParameter=\"0\" SkinName=\"\" SkinDescription=\"\" [...]
