interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/MessageService/ListActiveMarketplaceMessages5?accessToken=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx&currencyType=Unknown&itemDesignId=0&itemSubType=None&rarity=None&skip=0&take=20&userId=0
  response:
    body:
      string: "<MessageService><ListActiveMarketplaceMessages><Messages><Message MessageId=\"450484693\"
        UserId=\"9840136\" Message=\"\u041F\u0440\u043E\u0434\u0430\u0435\u0442 1
        Mecha-Clamp\" UserName=\"Alexis Samuel\" UserSpriteId=\"10006\" MessageType=\"Market\"
        ChannelId=\"3\" ActivityType=\"MarketListed\" ActivityArgument=\"starbux:4\"
        Argument=\"item:420x1\" AllianceName=\"\" AllianceSpriteId=\"0\" AllianceId=\"0\"
        MessageDate=\"2023-07-04T06:34:05\" Trophy=\"1371\" ShipDesignId=\"0\" SaleId=\"30839362\"
        /><Message Messag[...]
