interactions:
- request:
    body: '{"AccessToken": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx", "Message": "This
      is an automated message. Please do not reply.", "ToUserId": 4510693}'
    headers: {}
    method: POST
    uri: https://api.pixelstarships.com/MessageService/SendPrivateMessage3?AccessToken=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx&Message=This+is+an+automated+message.+Please+do+not+reply.&ToUserId=4510693
  response:
    body:
      string: <MessageService><SendMessage><Message MessageId="460962667" UserId="8729280"
        Message="This is an automated message. Please do not reply." UserName="Dolores
        2.0" UserSpriteId="10391" MessageType="Private" ChannelId="0" ActivityType="None"
        ActivityArgument="8729280" Argument="" AllianceName="Who's bad?" AllianceSpriteId="2315"
        AllianceId="43348" MessageDate="2023-08-22T16:51:50" ToUserId="4510693" Trophy="1726"
        ShipDesignId="14" /></SendMessage></MessageService>
    headers:
      Content-Type:
      - application/xml
    status:
      code: 200
      message: OK
    url: https://api.pixelstarships.com/MessageService/SendPrivateMessage3?AccessToken=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx&Message=This+is+an+automated+message.+Please+do+not+reply.&ToUserId=4510693
version: 1
