interactions:
- request:
    body: '{"AccessToken": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx", "ChannelKey": "public-en",
      "Message": "This is a test message. Please ignore. Thank you for your attention."}'
    headers: {}
    method: POST
    uri: https://api.pixelstarships.com/MessageService/SendMessage3?AccessToken=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx&ChannelKey=public-en&Message=This+is+a+test+message.+Please+ignore.+Thank+you+for+your+attention.
  response:
    body:
      string: <MessageService><SendMessage><Message MessageId="450871215" UserId="4510693"
        Message="This is a test message. Please ignore. Thank you for your attention."
        UserName="The worst." UserSpriteId="10391" MessageType="Public" ChannelId="2"
        ActivityType="None" ActivityArgument="0" Argument="" AllianceName="Trek Wolfpack"
        AllianceSpriteId="19349" AllianceId="21" MessageDate="2023-07-06T05:47:21"
        Trophy="4978" ShipDesignId="220" /></SendMessage></MessageService>
    headers:
      Content-Type:
      - application/xml
    status:
      code: 200
      message: OK
    url: https://api.pixelstarships.com/MessageService/SendMessage3?AccessToken=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx&ChannelKey=public-en&Message=This+is+a+test+message.+Please+ignore.+Thank+you+for+your+attention.
version: 1
