interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/MessageService/ListPrivateMessages?accessToken=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
  response:
    body:
      string: "<MessageService><ListPrivateMessages><Messages><Message MessageId=\"450361790\"
        UserId=\"10153182\" Message=\"and i here poor af\" UserName=\"LEO 007\" UserSpriteId=\"10716\"
        MessageType=\"Private\" ChannelId=\"0\" ActivityType=\"None\" ActivityArgument=\"10153182\"
        Argument=\"\" AllianceName=\"censored\" AllianceSpriteId=\"2322\" AllianceId=\"43932\"
        MessageDate=\"2023-07-03T13:26:23\" ToUserId=\"4510693\" Trophy=\"3198\" ShipDesignId=\"0\"
        /><Message MessageId=\"450361773\" UserId=\"10153182\" Message=\"but 3[...]
