interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/MessageService/ListMessagesForChannelKey?accessToken=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx&channelKey=public-en
  response:
    body:
      string: "<MessageService><ListMessagesForChannelKey><Messages><Message MessageId=\"450484489\"
        UserId=\"8794134\" Message=\"opening 9 scratchies\" UserName=\"FlatEarthers\"
        UserSpriteId=\"4661\" MessageType=\"Public\" ChannelId=\"2\" ActivityType=\"None\"
        ActivityArgument=\"0\" Argument=\"\" AllianceName=\"HYDRA\u9F8D Core\" AllianceSpriteId=\"19348\"
        AllianceId=\"37973\" MessageDate=\"2023-07-04T06:32:27\" Trophy=\"2645\" ShipDesignId=\"0\"
        /><Message MessageId=\"450484515\" UserId=\"8670639\" Message=\"gl\" UserName=\"MrPop[...]
