interactions:
- request:
    body: '{"AccessToken": "00000000-0000-0000-0000-000000000000", "AdvertisingKey":
      "00000000-0000-0000-0000-000000000000", "Checksum": "4fa684ad19cdbeae9a02d56657e4998b",
      "ClientDateTime": "2023-09-01T13:35:43", "DeviceKey": "e6a3815568cd", "DeviceType":
      "DeviceTypeAndroid", "IsJailBroken": "false", "LanguageKey": "en", "RefreshToken":
      "str", "Signal": "false", "UserDeviceInfo": {"ClientBuild": "int", "ClientVersion":
      "str", "DeviceName": "str", "Locale": "str", "OSBuild": "int", "OsVersion":
      "str"}}'
    headers: {}
    method: POST
    uri: https://api.pixelstarships.com/UserService/DeviceLogin15?AccessToken=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx&AdvertisingKey=00000000-0000-0000-0000-000000000000&Checksum=4fa684ad19cdbeae9a02d56657e4998b&ClientBuild=&ClientDateTime=2023-09-01T13:35:43&DeviceKey=e6a3815568cd&DeviceName=&DeviceType=DeviceTypeAndroid&IsJailBroken=false&LanguageKey=en&Locale=&OSBuild=&OsVersion=&Signal=false
  response:
    body:
      string: <UserService><UserLogin accessToken="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        PreviousLastLoginDate ="2023-09-01T13:29:10" UserId="10514214"><User Id="10514214"
        LastAlertDate="2023-07-29T12:52:16.867" UserType="Unverified" GenderType="Unknown"
        RaceType="Unknown" Credits="100" ProfileImageUrl="" Trophy="1000" GameCenterName=""
        CompletedMissionDesigns="" LanguageKey="en" TutorialStatus="0" IconSpriteId="653"
        TipStatus="0" AllianceMembership="None" CrewDonated="0" CrewReceived="0" FreeStarbuxReceivedToday="0"
        DailyRewardStatus="0" HeroBonusChance="0" GameCenterFriendCount="0" CompletedMissionEventIds=""[...]
