interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/UserService/ListFriends?UserId=9fa02787-04fc-4cf4-9b82-29e7bff4cfaf&accessToken=8729280
  response:
    body:
      string: <UserService><ListFriends UserId="8729280"><Friends>
        <Friend Id="2564646" FriendUserId="4510693" FriendType="Approval" UnreadMessages="0" LastLoginDate="0001-01-01T00:00:00" DateUpdated="2023-07-09T13:06:38" LastInteractionDate="2023-07-09T13:06:38" Name="The worst." Level="0" FriendTrophy="4899" FriendIconSpriteId="0" />
        </Friends>
        </ListFriends></UserService>
    headers:
      Content-Type:
      - application/xml
      Last-Modified:
      - Sun, 09 Jul 2023 13:02:13 GMT
    status:
      code: 200
      message: OK
    url: https://api.pixelstarships.com/UserService/ListFriends?UserId=9fa02787-04fc-4cf4-9b82-29e7bff4cfaf&accessToken=8729280
version: 1
