interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/UserService/SearchUsers?searchString=Dolores+2.0
  response:
    body:
      string: <UserService><SearchUsers><Users><User Id="8729280" Name="Dolores 2.0"
        LastAlertDate="2023-08-27T15:55:08.9867068Z" UserType="UserTypeJailBroken"
        GenderType="Unknown" RaceType="Unknown"  ProfileImageUrl="" Trophy="1717"
        GameCenterName="" CompletedMissionDesigns="1,53,10,20,21,22,23,24,25,26,27,211,215,216,36,241,196,315,329"
        LanguageKey="" TutorialStatus="0" IconSpriteId="10391" TipStatus="0" AllianceMembership="FleetAdmiral"
        CrewDonated="0" CrewReceived="0" FreeStarbuxReceivedToday="0" DailyRe[...]
