interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/UserService/ListSkins?clientDateTime=2024-03-24T17%3A17%3A02&languageKey=en
  response:
    body:
      string: "<UserService><ListSkins version=\"47\"><SkinSets><SkinSet SkinSetId=\"1\"
        SkinSetName=\"Hydra Dragon Hangar Skin Set\" SkinSetDescription=\"Awarded
        to the Tournament Champions for 2022! Requires Max level Drone Hangar Room.\"
        RequirementString=\"\" Flags=\"3\" Metadata=\"\" CostString=\"\" ApprovalFlags=\"None\"
        DateUpdated=\"2023-08-02T06:18:41\" SpriteId=\"20023\" /><SkinSet SkinSetId=\"2\"
        SkinSetName=\"Love Quarters Skin\" SkinSetDescription=\"Renovate your captains
        quarter's into a seductive trap.\" [...]
