interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/UserService/ListSkinSets2?clientDateTime=2024-05-05T11%3A36%3A43&languageKey=en
  response:
    body:
      string: "<UserService><ListSkinSets version=\"7\"><SkinSets><SkinSet SkinSetId=\"1\"
        SkinSetName=\"Hydra Dragon Hangar Skin Set\" SkinSetDescription=\"Awarded
        to the Tournament Champions for 2022! Requires Max level Drone Hangar Room.\"
        RequirementString=\"\" Flags=\"3\" Metadata=\"\" CostString=\"\" ApprovalFlags=\"Published\"
        DateUpdated=\"2023-08-02T06:18:41\" SpriteId=\"20023\" /><SkinSet SkinSetId=\"2\"
        SkinSetName=\"Love Quarters Skin\" SkinSetDescription=\"Renovate your captains
        quarter's into a seductive tra[...]
