interactions:
- request:
    body: '{"AccessToken": "00000000-0000-0000-0000-000000000000", "AdvertisingKey":
      "00000000-0000-0000-0000-000000000000", "Checksum": "d9d8c719ed68ea7d3542f36ce1a1bfc2",
      "ClientDateTime": "2026-01-30T13:47:05", "DeviceKey": "99d2b3a5-75ff-469f-8dad-c57d558f4e8f",
      "DeviceType": "DeviceTypeAndroid", "IsJailBroken": "false", "LanguageKey": "en",
      "RefreshToken": "str", "Signal": "false", "UserDeviceInfo": {"ClientBuild":
      "int", "ClientVersion": "str", "DeviceName": "str", "Locale": "str", "OSBuild":
      "int", "OsVersion": "str"}}'
    headers: {}
    method: POST
    uri: https://api.pixelstarships.com/UserService/DeviceLogin17?AccessToken=00000000-0000-0000-0000-000000000000&AdvertisingKey=00000000-0000-0000-0000-000000000000&Checksum=d9d8c719ed68ea7d3542f36ce1a1bfc2&ClientDateTime=2026-01-30T13%3A47%3A05&DeviceKey=99d2b3a5-75ff-469f-8dad-c57d558f4e8f&DeviceType=DeviceTypeAndroid&IsJailBroken=false&LanguageKey=en&Signal=false
  response:
    body:
      string: <UserService><UserLogin RewardString="" accessToken="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        PreviousLastLoginDate ="2024-04-01T11:30:39" UserId="11093261"><User Id="11093261"
        LastAlertDate="2024-04-01T11:30:39.183" UserType="Unverified" GenderType="Unknown"
        RaceType="Unknown" Credits="100" ProfileImageUrl="" Trophy="1000" GameCenterName=""
        CompletedMissionDesigns="" LanguageKey="en" TutorialStatus="0" IconSpriteId="653"
        TipStatus="0" AllianceMembership="None" CrewDonated="0" CrewReceived="0" FreeStarbuxReceivedToday="0"
        DailyRewardStatus="0" HeroBonusChance="0" GameCenterFriendCount="0" CompletedMissionEventIds=""[...]
