interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/UserService/ListSkins2?clientDateTime=2024-05-05T11%3A36%3A44&languageKey=en
  response:
    body:
      string: "<UserService><ListSkins version=\"63\"><Skins><Skin SkinId=\"6\" UserId=\"4\"
        ReferenceId=\"490\" RootId=\"490\" SkinType=\"RoomSkin\" SpriteId=\"12031\"
        SpriteType=\"Interior\" ApprovalFlags=\"Published\" SkinName=\"Love Quarters\"
        SkinDescription=\"Kit out your quarters for a romantic rendezvous. No sleepovers
        though, there's only one toothbrush. Increases maximum crew count by 1.\"
        RequirementString=\"\" Flags=\"0\" Metadata=\"\" OriginalSpriteId=\"13\" SkinSetId=\"2\"
        DateUpdated=\"2023-08-02T07[...]
