interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/UserService/ListAllUserDataFirst2?userId=8729280
  response:
    body:
      string: "<UserService><ListAllUserDataFirst><Researches><Research ResearchId=\"20961116\"
        ShipId=\"6546989\" ResearchDesignId=\"10\" ResearchState=\"Completed\" ResearchStartDate=\"2021-09-23T09:20:21\"
        /><Research ResearchId=\"20961204\" ShipId=\"6546989\" ResearchDesignId=\"80\"
        ResearchState=\"Completed\" ResearchStartDate=\"2021-09-23T07:06:01\" /><Research
        ResearchId=\"20961571\" ShipId=\"6546989\" ResearchDesignId=\"38\" ResearchState=\"Completed\"
        ResearchStartDate=\"2021-09-23T11:35:57\" /><Research ResearchId=\"[...]
