interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/TrainingService/ListAllTrainingDesigns2?clientDateTime=2024-03-24T17%3A17%3A02&languageKey=en
  response:
    body:
      string: '<TrainingService><ListAllTrainingDesigns version="443"><TrainingDesigns><TrainingDesign
        TrainingDesignId="1" TrainingName="Kiddie Weights" GasCost="0" MineralCost="100"
        Duration="2700" RequiredRoomLevel="1" HpChance="2" AttackChance="0" PilotChance="0"
        RepairChance="0" WeaponChance="0" ScienceChance="0" EngineChance="0" StaminaChance="2"
        AbilityChance="0" TrainingSpriteId="3195" TrainingDescription="Weights for
        little babies... but still tiring..." Rank="1" TrainingAnimationStyle="Weightlifting"
        XpChance="10" Fatigue="1" MinimumGuarantee="0" RequiredResearchDesignId="0"
        RequiredTrainingDesignId="0" /><TrainingDesign TrainingDesignId="2" TrainingName="Air
        Punches" GasCost="0" MineralCost="100" Duration="2700" RequiredRoomLevel="1"
        HpChance="0" AttackChance="2" PilotChance="0" RepairChance="0" WeaponChance="0"
        ScienceChance="0" EngineChance="0" StaminaChance="2" AbilityChance="0" TrainingSpriteId="3333"
        TrainingDescription="Pretend I''m Bruce Lee" Rank="1" TrainingAnimationStyle="Weightlifting"
        XpChance="10" Fatigue="1" MinimumGuarantee="0" RequiredResearchDesignId="0"
[...]
