interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/SettingService/GetLatestVersion3?deviceType=DeviceTypeAndroid&languageKey=en
  response:
    body:
      string: <SettingService><GetLatestSetting><Setting SettingId="1" ServerSettingVersion="1950542"
        MinimumClientVersion="0.996.1" MaintenanceMessage="" AllianceBadgeSpriteIds="2261,2262,2263,2264,2265,2266,2267,2268,2269,2270,2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281,2282,2283,2284,2285,2286,2287,2288,2289,2290,2291,2293,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2306,2307,2308,2309,2310,2311,2312,2313,2314,2315,2316,2317,2318,2319,2320,2321,2322,653,654,655,2771,19343,19344,19345,19346,19347,19348,19349,19350,[...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/AnimationService/ListAnimations
  response:
    body:
      string: <AnimationService><ListAnimations version="708"><Animations><Animation
        AnimationId="1" Key="CharacterShootsLaser" AnimationSprites="244,245,246,262,263,264,265,267,268,269,454"
        Duration="20" AnimationEffectType="Multiply" /><Animation AnimationId="2"
        Key="ShipLaserFireLv1" AnimationSprites="319,320,323,324,325,326,327,328,454"
        Duration="40" AnimationEffectType="Multiply" /><Animation AnimationId="3"
        Key="ShipLaserBeamLv1" AnimationSprites="329,330,331,332,334,335,336,337,338,454"
        Duration="40" AnimationEffectType="Normal" /><Animation AnimationId="4" Key="LaserHitExplosion"
        AnimationSprites="339,340,341,342,343,344,345,346,347,454" Duration="40" AnimationEffectType="Normal"
        /><A[...]
