interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/SettingService/GetLatestVersion3?deviceType=DeviceTypeAndroid&languageKey=en
  response:
    body:
      string: <SettingService><GetLatestSetting><Setting SettingId="1" ServerSettingVersion="2330010"
        MinimumClientVersion="0.998.7" MaintenanceMessage="" AllianceBadgeSpriteIds="2261,2262,2263,2264,2265,2266,2267,2268,2269,2270,2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281,2282,2283,2284,2285,2286,2287,2288,2289,2290,2291,2293,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2306,2307,2308,2309,2310,2311,2312,2313,2314,2315,2316,2317,2318,2319,2320,2321,2322,653,654,655,2771,19343,19344,19345,19346,19347,19348,19349,19350,[...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/AchievementService/ListAchievementDesigns2?languageKey=en
  response:
    body:
      string: "<AchievementService><ListAchievementDesigns version=\"582\"><AchievementDesigns><AchievementDesign
        AchievementDesignId=\"1\" AchievementTitle=\"Deep Space Miner I\" AchievementDescription=\"Purchase
        a mining storage facility.\" AchievementKey=\"com.savysoda.pixelStarships.deepSpaceMiner1\"
        AchievementReward=\"5\" AchievementGoal=\"1\" AchievementType=\"Mining\" OrderIndex=\"3\"
        GuideType=\"BuyRoom\" GuideArgument=\"60\" MineralReward=\"0\" GasReward=\"0\"
        SpriteId=\"4524\" IsHidden=\"false\" RewardString=\"starbux:5\" DurationType=\"Permanent\"
        ParentAchievementDesignId=\"0\" RootAchievementDesignId=\"1\" /><AchievementDesign
        AchievementDesignId=\"2\" AchievementTitle=\"Deep Space Miner II\" AchievementDescription=\"Upgrade
        to a level 3 mining storage.\" AchievementKey=\"com.savysoda.pixelStarships.deepSpaceMiner2\"
        AchievementReward=\"10\" AchievementGoal=\"3\" AchievementType=\"Mining\"
        OrderIndex=\"100\" GuideType=\"UpgradeRoom\" GuideArgument=\"60\" MineralReward=\"0\"
        GasReward=\"0\" SpriteId=\"4524\" IsHidden=\"false\" RewardString=\"starbux:10\"
        DurationType=\"Permanent\" ParentAchievementDesignId=\"1\" RootAchievementDesignId=\"1\"
        /><AchievementDesign AchievementDesignId=\"3\" AchievementTitle=\"Deep Space
        Miner III\" AchievementDescription=\"Upgrade to a level 9 mining storage.\"
        AchievementKey=\"com.savysoda.pixelStarships.deepSpaceMiner3\" AchievementReward=\"20\"
        AchievementGoal=\"9\" AchievementType=\"Mining\" OrderIndex=\"100\" GuideType=\"UpgradeRoom\"
        GuideArgument=\"60\" MineralReward=\"0\" GasReward=\"0\" SpriteId=\"4524\"
        IsHidden=\"false\" RewardString=\"starbux:20\" DurationType=\"Permanent[...]
