interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/SettingService/GetLatestVersion3?deviceType=DeviceTypeAndroid&languageKey=en
  response:
    body:
      string: <SettingService><GetLatestSetting><Setting SettingId="1" ServerSettingVersion="1950549"
        MinimumClientVersion="0.996.1" MaintenanceMessage="" AllianceBadgeSpriteIds="2261,2262,2263,2264,2265,2266,2267,2268,2269,2270,2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281,2282,2283,2284,2285,2286,2287,2288,2289,2290,2291,2293,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2306,2307,2308,2309,2310,2311,2312,2313,2314,2315,2316,2317,2318,2319,2320,2321,2322,653,654,655,2771,19343,19344,19345,19346,19347,19348,19349,19350,[...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/CollectionService/ListAllCollectionDesigns?languageKey=en
  response:
    body:
      string: <CollectionService><ListAllCollectionDesigns version="375"><CollectionDesigns><CollectionDesign
        CollectionDesignId="1" CollectionName="SavySoda" MinCombo="4" MaxCombo="10"
        EnhancementType="EmpSkill" BaseEnhancementValue="4" Flags="0" CollectionType="Character"
        CollectionDescription="Savy Soda Engineering. Not actually a soda company."
        SpriteId="8118" ColorString="255,76,203" StepEnhancementValue="2" IconSpriteId="8183"
        HaloAnimationId="1263" /><CollectionDesign CollectionDesignId="2" CollectionName="Sango"
        MinCombo="2" MaxCombo="6" EnhancementType="SharpShooterSkill" BaseEnhancementValue="2"
        Flags="0" CollectionType="Character" CollectionDescription="From the legendary
        Sango Days. Not a fruit." SpriteId="8122" ColorString="255,10,30" StepEnhancementValue="1"
        IconSpriteId="8187" HaloAnimationId="1263" /><CollectionDesign CollectionDesignId="3"
        CollectionName="Cats" MinCombo="2" MaxCombo="8" EnhancementType="Resurr[...]
