interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/CollectionService/ListAllCollectionDesigns?clientDateTime=2024-03-24T17%3A17%3A02&languageKey=en
  response:
    body:
      string: <CollectionService><ListAllCollectionDesigns version="397"><CollectionDesigns><CollectionDesign
        CollectionDesignId="1" CollectionName="SavySoda" MinCombo="4" MaxCombo="10"
        EnhancementType="EmpSkill" BaseEnhancementValue="4" Flags="0" CollectionType="Character"
        CollectionDescription="Savy Soda Engineering. Not actually a soda company."
        SpriteId="8118" ColorString="255,76,203" StepEnhancementValue="2" IconSpriteId="8183"
        TriggerType="None" Argument="0" BaseChance="0" StepChance="0" MaxUse="1" AbilityName=""
        AbilityIconSpriteId="4" HaloAnimationId="1263" /><CollectionDesign CollectionDesignId="2"
        CollectionName="Sango" MinCombo="2" MaxCombo="6" EnhancementType="SharpShooterSkill"
        BaseEnhancementValue="2" Flags="0" CollectionType="Character" CollectionDescription="From
        the legendary Sango Days. Not a fruit." SpriteId="8122" ColorString="255,10,30"
        StepEnhancementValue="1" IconSpriteId="8187" TriggerType="None" Argument="0"
        BaseChance="0" StepChance="0" MaxUse="1" AbilityName="" AbilityIconSpriteId="4"
        HaloAnimationId="[...]
