interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/SettingService/GetLatestVersion3?deviceType=DeviceTypeAndroid&languageKey=en
  response:
    body:
      string: <SettingService><GetLatestSetting><Setting SettingId="1" ServerSettingVersion="1950614"
        MinimumClientVersion="0.996.1" MaintenanceMessage="" AllianceBadgeSpriteIds="2261,2262,2263,2264,2265,2266,2267,2268,2269,2270,2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281,2282,2283,2284,2285,2286,2287,2288,2289,2290,2291,2293,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2306,2307,2308,2309,2310,2311,2312,2313,2314,2315,2316,2317,2318,2319,2320,2321,2322,653,654,655,2771,19343,19344,19345,19346,19347,19348,19349,19350,[...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/DivisionService/ListAllDivisionDesigns2?languageKey=en
  response:
    body:
      string: <DivisionService><ListAllDivisionDesigns version="510"><DivisionDesigns><DivisionDesign
        DivisionDesignId="1" DivisionName="Fleet Division A" MinRank="1" MaxRank="8"
        RewardStrings="item:1701x1|starbux:100000|points:10000,starbux:70000|points:7000,starbux:40000|points:4000,starbux:30000|points:3000,starbux:30000|points:3000,starbux:24000|points:2400"
        DivisionType="Fleet" BannerSpriteIds="7943,7944,7945,7946" MonthlyAchievementDesignIds="66,67,68"
        YearlyAchievementDesignIds="" FinalsImmunityPercentage="100" LogoSpriteId="7939"
        BackgroundSpriteId="7847" /><DivisionDesign DivisionDesignId="2" DivisionName="Fleet
        Division B" MinRank="9" MaxRank="20" RewardStrings="starbux:35000|points:3500,starbux:25000|points:2500,starbux:20000|points:2000,starbux:15000|points:1500,starbux:15000|points:1500,starbux:15000|points:1500,starbux:10000|points:1000"
        DivisionType="Fleet" BannerSpriteIds="7947,7948,7949,7950" MonthlyAchievementDesignIds="69,70,71"
        YearlyAchievementDesignIds="" FinalsImmunityPercentage="100" LogoSpriteId="7824"
        BackgroundSpr[...]
