interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/DivisionService/ListAllDivisionDesigns2?clientDateTime=2024-03-24T17%3A17%3A02&languageKey=en
  response:
    body:
      string: <DivisionService><ListAllDivisionDesigns version="542"><DivisionDesigns><DivisionDesign
        DivisionDesignId="1" DivisionName="Fleet Division A" MinRank="1" MaxRank="8"
        RewardStrings="item:1907x1|starbux:100000|points:10000,starbux:70000|points:7000,starbux:40000|points:4000,starbux:30000|points:3000,starbux:30000|points:3000,starbux:24000|points:2400"
        DivisionType="Fleet" BannerSpriteIds="7943,7944,7945,7946" MonthlyAchievementDesignIds="66,67,68"
        YearlyAchievementDesignIds="" FinalsImmunityPercentage="100" LogoSpriteId="7939"
        BackgroundSpriteId="7847" /><DivisionDesign DivisionDesignId="2" DivisionName="Fleet
        Division B" MinRank="9" MaxRank="20" RewardStrings="starbux:35000|points:3500,starbux:25000|points:2500,starbux:20000|points:2000,starbux:15000|points:1500,starbux:15000|points:1500,starbux:15000|points:1500,starbux:10000|points:1000"
        DivisionType="Fleet" BannerSpriteIds="7947,7948,7949,7950" MonthlyAchievementDesignIds="69,70,71"
        YearlyAchievementDesignIds="" FinalsImmunityPercentage="100" LogoSpriteId="7824"
        BackgroundSpr[...]
