interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/MarketService/ListSalesByItemDesignId?from=0&itemDesignId=778&saleStatus=Listed&to=100
  response:
    body:
      string: "<MarketService><ListSalesByItemDesignId><Sales><Sale SaleId=\"30839323\"
        SaleStatus=\"Listed\" Quantity=\"100\" CurrencyType=\"Starbux\" CurrencyValue=\"130\"
        SellerShipId=\"7740716\" StarbuxValue=\"130\" BuyerShipId=\"0\" CharacterId=\"0\"
        StatusDate=\"2023-07-04T06:29:32\" ItemId=\"212448208\" CharacterDesignId=\"0\"
        ItemDesignId=\"778\" SellerShipName=\"\u4F11\u6CE2\u5229\u5B89\u53F7\" BuyerShipName=\"\"
        /><Sale SaleId=\"30839253\" SaleStatus=\"Listed\" Quantity=\"2\" CurrencyType=\"Starbux\"
        Curr[...]
