interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/MarketService/ListSalesByItemDesignId?from=0&itemDesignId=778&saleStatus=Listed&to=100
  response:
    body:
      string: "<MarketService><ListSalesByItemDesignId><Sales><Sale SaleId=\"34413201\"
        SaleStatus=\"Listed\" Quantity=\"1\" CurrencyType=\"Gas\" CurrencyValue=\"200000\"
        SellerShipId=\"7365924\" StarbuxValue=\"257\" BuyerShipId=\"0\" CharacterId=\"0\"
        StatusDate=\"2024-03-24T17:16:49\" ItemId=\"198031821\" CharacterDesignId=\"0\"
        ItemDesignId=\"778\" SellerShipName=\"jok3r30\" BuyerShipName=\"\" /><Sale
        SaleId=\"34413198\" SaleStatus=\"Listed\" Quantity=\"10\" CurrencyType=\"Gas\"
        CurrencyValue=\"1110000\" SellerS[...]
