interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/SettingService/GetLatestVersion3?deviceType=DeviceTypeAndroid&languageKey=en
  response:
    body:
      string: <SettingService><GetLatestSetting><Setting SettingId="1" ServerSettingVersion="2319132"
        MinimumClientVersion="0.998.7" MaintenanceMessage="" AllianceBadgeSpriteIds="2261,2262,2263,2264,2265,2266,2267,2268,2269,2270,2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281,2282,2283,2284,2285,2286,2287,2288,2289,2290,2291,2293,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2306,2307,2308,2309,2310,2311,2312,2313,2314,2315,2316,2317,2318,2319,2320,2321,2322,653,654,655,2771,19343,19344,19345,19346,19347,19348,19349,19350,[...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/TaskService/ListAllTaskDesigns2?clientDateTime=2024-01-03T14:07:01&languageKey=en
  response:
    body:
      string: '<TaskService><ListAllTaskDesigns version="1075170"><TaskDesigns><TaskDesign
        TaskDesignId="8479" Name="The Dig" Description="Deploy 3 Mining Drones" IconSpriteId="16632"
        TaskCategory="BattlePassSeason" ObjectiveType="DeployMiningDroneCount" ObjectiveArgument=""
        ObjectiveAmount="3" RewardString="passpoints:10" RewardDistributionString=""
        Flags="0" GlobalProgress="0" RequirementString="" AvailableFrom="2024-01-28T00:00:00"
        AvailableTo="2024-01-30T00:00:00" SeasonDesignId="16" /><TaskDesign TaskDesignId="8480"
        Name="Make It So" Description="Craft 5 Items" IconSpriteId="10011" TaskCategory="BattlePassSeason"
        ObjectiveType="CraftItemCount" ObjectiveArgument="" ObjectiveAmount="5" RewardString="passpoints:10"
        RewardDistributionString="" Flags="0" GlobalProgress="0" RequirementString=""
        AvailableFrom="2024-01-28T00:00:00" AvailableTo="2024-01-30T00:00:00" SeasonDesignId="16"
        /><TaskDesign TaskDesignId="8481" Name="They''re in the Vents!" Descript[...]
