interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/TaskService/ListAllTaskDesigns2?clientDateTime=2024-03-24T17%3A17%3A02&languageKey=en
  response:
    body:
      string: '<TaskService><ListAllTaskDesigns version="1117879"><TaskDesigns><TaskDesign
        TaskDesignId="8968" Name="The Dig" Description="Deploy 3 Mining Drones" IconSpriteId="16632"
        TaskCategory="BattlePassSeason" ObjectiveType="DeployMiningDroneCount" ObjectiveArgument=""
        ObjectiveAmount="3" RewardString="passpoints:10" RewardDistributionString=""
        Flags="0" GlobalProgress="0" RequirementString="" AvailableFrom="2024-05-07T00:00:00"
        AvailableTo="2024-05-09T00:00:00" SeasonDesignId="18" /><TaskDesign TaskDesignId="8969"
        Name="Make It So" Description="Craft 5 Items" IconSpriteId="10011" TaskCategory="BattlePassSeason"
        ObjectiveType="CraftItemCount" ObjectiveArgument="" ObjectiveAmount="5" RewardString="passpoints:10"
        RewardDistributionString="" Flags="0" GlobalProgress="0" RequirementString=""
        AvailableFrom="2024-05-07T00:00:00" AvailableTo="2024-05-09T00:00:00" SeasonDesignId="18"
        /><TaskDesign TaskDesignId="8970" Name="They''re in the Vents!" Descript[...]
