interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/SettingService/GetLatestVersion3?deviceType=DeviceTypeAndroid&languageKey=en
  response:
    body:
      string: <SettingService><GetLatestSetting><Setting SettingId="1" ServerSettingVersion="2330046"
        MinimumClientVersion="0.998.7" MaintenanceMessage="" AllianceBadgeSpriteIds="2261,2262,2263,2264,2265,2266,2267,2268,2269,2270,2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281,2282,2283,2284,2285,2286,2287,2288,2289,2290,2291,2293,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2306,2307,2308,2309,2310,2311,2312,2313,2314,2315,2316,2317,2318,2319,2320,2321,2322,653,654,655,2771,19343,19344,19345,19346,19347,19348,19349,19350,[...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/MissionService/ListAllMissionDesigns4?clientDateTime=2024-03-21T19%3A26%3A45&languageKey=en
  response:
    body:
      string: "<MissionService><ListAllMissionDesigns version=\"801\"><MissionDesigns><MissionDesign
        MissionDesignId=\"1\" MissionTitle=\"Bootcamp\" MissionDescription=\"Post
        Graduation Refresher\" MinShipLevel=\"1\" MaxShipLevel=\"12\" MaxAttemptsPerDay=\"0\"
        IsSinglePlay=\"true\" AvailableFrom=\"2000-01-01T00:00:00\" AvailableTo=\"2050-07-22T00:00:00\"
        AvailableEveryXDays=\"1\" StoryDescription=\"Welcome to your first training
        mission.|In this easy battle you will learn to allocate power to your mining
        lasers and clear some nearby space junk.\" Condition=\"\" MissionDesignStatus=\"Draft\"
        MissionDesignType=\"Single\" Chance=\"0\" MinDurationSinceLastEvent=\"0\"
        Weight=\"0\" RequirementString=\"\" ExplorationPercentage=\"0\" Flags=\"0\"
        RequirementDescription=\"\" Metadata=\"\" StarSystemId=\"0\" BackgroundSpriteId=\"1284\"
        RequiredMissionDesignId=\"0\" StoryAnimationId=\"0\"><InstantMissionEvents
        /></MissionDesign><MissionDesign MissionDesignId=\"2\" MissionTitle=\"Lunar
        Exploration\" MissionDescription=\"Daily mission lvl 2-3\" MinShipLevel=\"2\"
        MaxShipLevel=\"3\" MaxAttemptsPerDay=\"8\" IsSinglePlay=\"false\" AvailableFrom=\"1753-01-01T00:00:00\"
        AvailableTo=\"2050-07-22T00:00:00\" AvailableEveryXDays=\"1\" StoryDescription=\"Seems
        like a nice, quiet part of space.\" Condition=\"\" MissionDesignStatus=\"Draft\"
        MissionDesignType=\"Single\" Chance=\"0\" MinDurationSinceLastEvent[...]
