interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.pixelstarships.com/BackgroundService/ListBackgrounds?clientDateTime=2024-03-24T17%3A17%3A02
  response:
    body:
      string: <BackgroundService><ListBackgrounds version="500"><Backgrounds><Background
        BackgroundId="4" BackgroundSpriteId="469" FarObjectSpriteId="465,466,467"
        MediumObjectSpriteId="462,463,464" CloseObjectSpriteId="468" BackgroundEffectType="Normal"
        BackgroundType="Both" EnvironmentType="None" EnvironmentIntArgument="0" EnvironmentFloatArgument="0"
        IsActive="true" HazardType="None" HazardArgument="0" MinHazardInterval="0"
        MaxHazardInterval="0" HazardChance="0" HazardCategory="None" OrbitAnchorAlignment="Center"
        MusicFileId="0" HazardIconSpriteId="0" HazardEffectSpriteId="0" OrbitAnimationId="0"
        /><Background BackgroundId="5" BackgroundSpriteId="531" FarObjectSpriteId="533"
        MediumObjectSpriteId="" CloseObjectSpriteId="532" BackgroundEffectType="Nebula"
        BackgroundType="Both" EnvironmentType="None" EnvironmentIntArgument="0" EnvironmentFloatArgument="0"
        IsActive="true" HazardType="None" HazardArgument="0" MinHazardInterval="0"
        MaxHazardInterval="0" HazardChance="0" HazardCategory="None" OrbitAnchorAlignment="Center"
        MusicFileId="0" HazardIconSpriteId="0" HazardEf[...]
